[2020-02-09 06:17] josephmancuso opened #1 "Add SQLite grammar"

[2020-02-09 06:17] josephmancuso opened #2 "Add more tests for mssql grammar"

[2020-02-09 06:18] josephmancuso opened #3 "add mssql connection class"

[2020-02-09 06:18] josephmancuso opened #4 "Add indexes / primary keys / constraints to the schema blueprint builder"

[2020-02-10 01:37] #4 closed, assigned to nobody

[2020-02-11 03:50] josephmancuso opened #6 "Schema: Add drop table schema"
Need to add both drop table schema and drop table if exists schema.

2 tests are commented out and located in the `tests/schema/mysql/test_mysql_schema.py` file

@vaibhavmule

[2020-02-11 03:56] josephmancuso opened #7 "Add drop column schema"

[2020-02-11 04:18] #7 closed, assigned to nobody

[2020-02-11 04:18] josephmancuso opened #8 "Schema: Add modify column schema"

[2020-02-11 04:21] josephmancuso opened #9 "Add default string length to schema"
Need to be able to set a default length. For example, on MySQL it can be 255 but for Maria youll need to set it up to 191

[2020-02-11 04:38] josephmancuso commented on #9
Can now do `Schema.set_default_string_length(191)`

[2020-02-11 04:38] #9 closed, assigned to nobody

[2020-02-11 04:39] josephmancuso opened #10 "Schema: Add ability to drop indexes"
Need to be able to do `drop_primary`, `drop_unique` and `drop_index`

[2020-02-11 04:47] josephmancuso opened #11 "Schema: Add foreign key constraints"
should be in a format like

[code]

[2020-02-11 04:48] josephmancuso commented on #11
as well as `on_delete` and `on_update`

[2020-02-11 04:51] josephmancuso opened #12 "Query Builder: Add count method to count the number of records"

[2020-02-11 05:10] josephmancuso opened #13 "Query Builder: Start experimenting with Scopes"
Need to start experimenting with adding scopes to queries

[2020-02-11 05:10] josephmancuso opened #14 "Schema: Add a basic created_at and updated_at column with a timestamps schema column"

[2020-02-11 05:13] josephmancuso commented on #14
Added `test_timestamps_column` testcase to the mysql schema testcase.

[2020-02-11 13:31] josephmancuso commented on #12
should be able to compile down to these 2 things:

[code]

[code]

Should also be able to do a `count_distinct`:

[code]

[2020-02-11 13:51] josephmancuso opened #16 "experiment with emitting some kind of listeners"
We need to be able to emit (maybe using python logger) and have listeners so we can build integrations that do things like show the query and the time they took to execute

[2020-02-11 14:47] josephmancuso commented on #14
assigned to @mandarvaze I'd like to get people involved in the project at this point so I can have some good maintainers to point to when the project needs new features

[2020-02-11 16:07] #6 closed, assigned to vaibhavmule

[2020-02-11 17:57] josephmancuso opened #17 "Start documentation process"

[2020-02-11 17:58] josephmancuso commented on #17
Once the first database connection and grammar are in place and likely won't change, we should start opening pull requests so we can document as we go along

[2020-02-11 19:04] josephmancuso opened #18 "Add factories"
Need to have the ability to add a factory. Really need to work on this structure. Im not entirely sold on how Orator does it

[2020-02-11 19:08] josephmancuso opened #19 "Query Builder: Need to add a where_null and where_not_null builder methods"
need to be able to do `builder.where_null('column').get()`

which would compile down to:

[code]

need to be able to do `builder.where_not_null('column').get()`

which would compile down to:

[code]

[2020-02-11 19:45] josephmancuso opened #20 "Query Builder: Add database, schema and prefix to select, update and delete queries"

[2020-02-11 19:46] josephmancuso opened #21 "Refactor tests so its easy to test new grammars"

[2020-02-12 02:08] #19 closed, assigned to josephmancuso

[2020-02-12 03:42] #21 closed, assigned to josephmancuso

[2020-02-12 03:47] josephmancuso opened #22 "Add MSSQL Support"
Need to wait for MySQL grammar to finish

[2020-02-12 18:41] josephmancuso opened #23 "Add having to mysql grammar"

[2020-02-13 04:17] #13 closed, assigned to josephmancuso

[2020-02-13 04:35] #12 closed, assigned to nobody

[2020-02-15 13:18] josephmancuso opened #24 "Need a where_column"
Need to be able to make a query like this:

[code]

[2020-02-15 13:49] #24 closed, assigned to nobody

[2020-02-15 14:02] josephmancuso opened #25 "Add subselects in where clauses"

[2020-02-15 15:41] josephmancuso opened #26 "refactor grammar compile where"
The _compile_where method is getting really big and messy. Now that there are tests around all the different parts it is a good time to refactor that method

[2020-02-15 17:55] #25 closed, assigned to nobody

[2020-02-15 18:09] josephmancuso opened #27 "create exists query"
need to create an exists query which is simple and EXISTS with a subquery

[2020-02-15 18:20] #27 closed, assigned to nobody

[2020-02-15 18:20] #26 closed, assigned to nobody

[2020-02-15 18:21] josephmancuso commented on #22
**MUST WAIT UNTIL THE MYSQL GRAMMAR IS COMPLETELY SO WE HAVE A GOOD UNDERSTANDING OF HOW GRAMMARS ARE CREATED**

[2020-02-15 18:22] josephmancuso opened #28 "Add PostgresSQL grammar"

[2020-02-15 18:22] josephmancuso commented on #28
**MUST WAIT UNTIL THE MYSQL GRAMMAR IS COMPLETELY SO WE HAVE A GOOD UNDERSTANDING OF HOW GRAMMARS ARE CREATED**

[2020-02-16 23:46] josephmancuso opened #29 "Add Global Scopes"

[2020-02-20 04:19] #23 closed, assigned to nobody

[2020-02-20 04:36] josephmancuso opened #30 "Add Joins"

[2020-02-20 04:57] josephmancuso commented on #30
[code]

[2020-02-20 05:00] josephmancuso commented on #30
Should be abe to do:

[code]

[2020-02-20 13:38] josephmancuso opened #31 "Add Collection Methods"

[2020-02-20 13:58] josephmancuso commented on #31
Need to add a whole lot of collection methods like:

[code]

[2020-02-20 14:02] josephmancuso commented on #31
Resources:

https://orator-orm.com/docs/0.9/collections.html#available-methods
https://laravel.com/docs/5.8/collections#available-methods

[2020-02-27 01:17] #29 closed, assigned to nobody

[2020-02-27 02:03] #20 closed, assigned to nobody

[2020-02-27 03:24] #30 closed, assigned to nobody

[2020-02-27 04:14] josephmancuso commented on #31
The first step is to replicate all the Orator collection methods.

Next steps is to additionally replicate all Laravel collection methods

[2020-02-27 04:15] josephmancuso commented on #31
@vaibhavmule you want to take some of these methods? All the Orator ones are in the collection class as boilerplate

[2020-02-27 14:14] josephmancuso opened #32 "Add a lot more tests for qmark"
We will primarily be using qmark for the actual calls to the database. The `to_sql()` will return normal sql which we are using the make sure the queries line up but we need to make sure all the bindings line up correctly

[2020-02-27 20:39] josephmancuso opened #33 "Add relationships"

[2020-02-28 21:21] Marlysson commented on #31
@josephmancuso Can I get something? or @vaibhavmule already do something...

[2020-02-28 21:22] josephmancuso commented on #31
yeah go for it. I don't think @vaibhavmule started it yet

[2020-02-28 21:41] Marlysson commented on #31
Can we receive an object like a dictionary on **items** variable, right?

Cause some methods should needed a key on method signature...

[2020-02-28 22:12] josephmancuso commented on #31
Yeah it’s gonna be a few things. Like lists, dictionaries, objects, models

Sent from my iPhone

[2020-02-28 23:44] Marlysson commented on #31
@josephmancuso Can the objects received by Collection be in different states?

When calling the **pluck**, **avg** and other methods that receive some key as an argument from an object inside Collection.

Example:

[code]

[2020-02-28 23:48] josephmancuso commented on #31
Yes

Sent from my iPhone

[2020-02-29 01:07] Marlysson commented on #31
The Orator uses **backpack** to collection methods and Masonite uses the backpack... That said,  do all methods will be implemented scratch?

[2020-02-29 01:24] josephmancuso commented on #31
I'm not sure. Masonite doesn't actually use backpack. Orator does.

[2020-02-29 01:24] josephmancuso commented on #31
someone asked if we should use backpack and I haven't really looked into it

[2020-02-29 01:42] Marlysson commented on #31
Yep, was said that it isn't sustained. We can add just some missing methods..

[2020-02-29 11:25] ghost commented on #31
I think we need to update backpack if we need to use it

[2020-02-29 13:21] josephmancuso commented on #31
I think we should just get al the tests down for it and then we can refactor later to use some kind of c library if it makes sense to do so. Well have the tests behind us to help on the refactor

Sent from my iPhone

[2020-02-29 21:14] #33 closed, assigned to nobody

[2020-02-29 21:15] josephmancuso opened #34 "Add belongs to relationship"

[2020-02-29 21:15] #34 closed, assigned to nobody

[2020-02-29 21:15] josephmancuso opened #35 "Add hasMany relationship"

[2020-03-01 03:56] #35 closed, assigned to nobody

[2020-03-01 03:58] josephmancuso commented on #31
@Marlysson @sphinxxanxus It's important to note that Backpack was written by Sdispater who is the same person who abandoned Orator in the first place so we may either want to write something ourselves to not be dependent on his librairies anymore

[2020-03-01 04:00] josephmancuso commented on #32
When passing the sql to the connection class we will need to use this qmark class so we need to make sure it supports all the availale methods

[2020-03-01 10:27] ghost commented on #31
Okay I get it

[2020-03-01 16:26] #14 closed, assigned to mandarvaze

[2020-03-01 16:32] josephmancuso opened #37 "Add where raw expressions"
Need to be able to do `where_raw("x = 1")`

[2020-03-01 16:44] #37 closed, assigned to josephmancuso

[2020-03-01 16:45] josephmancuso commented on #11
@Marlysson, since you are familiar with the schema builder, do you want to take a crack at this one?

[2020-03-01 16:57] Marlysson commented on #11
Sure, I can try to complete this. Any questions I will put here.

[2020-03-01 19:45] josephmancuso opened #38 "Add select_raw expression"

[2020-03-01 20:12] #38 closed, assigned to josephmancuso

[2020-03-01 20:20] josephmancuso opened #39 "Add offset clause"

[2020-03-01 20:22] josephmancuso opened #40 "Add ability to infer the table name"
right now you need to set the `__table__` attribute. we need to be able to figure it out with the table name.

For example, the `User` model would be `users` table

[2020-03-01 20:41] #39 closed, assigned to nobody

[2020-03-01 20:42] josephmancuso commented on #40
This should be pretty simple. Anywhere we use the `__table__` attribute we need to abstract it out to a method

[2020-03-01 20:48] josephmancuso opened #41 "Add eager loading"

[2020-03-02 05:10] josephmancuso commented on #41
Still need some refactoring but the foundation is there

[2020-03-02 05:10] #41 closed, assigned to nobody

[2020-03-02 05:11] josephmancuso opened #42 "refactor eager loading"
The foundation and tests are in place but will need to refactor

[2020-03-02 18:03] corentinalcoy commented on #31
@josephmancuso the `pluck` method already implemented doesn't work for this
[code]
And `pluck` method should return a `Collection` object in this case

[2020-03-02 19:13] Marlysson commented on #31
@corentinalcoy It's because the current implementation accepts just one element.. to receive more than one we'll have that to change to .pluck(self, *args).

[2020-03-02 19:22] josephmancuso commented on #31
Looks like a new feature to me

[2020-03-02 19:26] Marlysson commented on #31
@josephmancuso Does one feature receiving one argument and other one receiving more than one like these?

[code]

[2020-03-02 19:36] Marlysson commented on #11
@josephmancuso

Analysing this line:

```table.foreign('user_id').references('id').on('users')```

Firstly should have one line defining which column will be used for the foreign key like this:

```table.integer('user_id')```, right?

Is necessary the use of ```.unsigned()``` method to create it?

[Laravel exception when running migrations](https://laraveldaily.com/foreign-keys-with-migrations-don

[2020-03-02 19:39] josephmancuso commented on #31
yes. Most times you only want to pluck 1. What would plucking 2 do? would it pluck both or 1 or the other?

[2020-03-02 19:42] josephmancuso commented on #11
yes. you are creating a constraint. So an constraint needs to be applied to a column that exists already.

Technically no but the the column you are defining needs to be the same data type apples to apples as the foreign column.

For example if you are making a foreign key from `table1.id` to `table2.column_id`, `column_id` and `id` columns must both be the same data type for the database to accep

[2020-03-02 19:43] josephmancuso commented on #11
technically it should be unsigned by default since you're never going to have a negative number in these columns

[2020-03-02 19:46] josephmancuso commented on #11
For others following, with numbers you technically use the first bit to check if the number is negative or positive. When you make it unsigned you tell the database to use the left bit to make the number bigger. In this case you lose the ability to make the column have a negative value but you gain the ability to make the number larger (since now you have an extra bit to work with)

[2020-03-02 19:46] josephmancuso commented on #11
primary keys and foreign keys are never negative so it makes sense to make the columns unsigned.

[2020-03-02 21:22] ghost commented on #31
read this
https://laravel.com/docs/5.8/collections#method-pluck

[2020-03-02 21:23] josephmancuso commented on #31
Oh cool. Yeah thats actually useful

[2020-03-02 21:24] ghost commented on #31
@corentinalcoy ===  @sphinxxanxus

[2020-03-02 21:26] josephmancuso commented on #31
@Marlysson in the doc example above the signature would look more like this:

[code]

[2020-03-02 21:27] ghost commented on #31
why?

[2020-03-02 21:28] josephmancuso commented on #31
@sphinxxanxus in the laravel doc you sent the first pluck is the key to get and the second parameter is the key to use, right?

[2020-03-03 02:53] #42 closed, assigned to josephmancuso

[2020-03-03 03:39] josephmancuso commented on #40
We just need to make a `get_table_name()` method.

The method should either look if the `__table__` attribute is set or else it should get the name of the class with an `s` appended at the end of it.

[2020-03-03 06:16] ghost commented on #31
No you can do `pluck('id', 'name', 'email')` that means it can take many parameters. I think it should be
[code]

[2020-03-03 13:05] josephmancuso opened #48 "Dropping multiple columns from a database table"
right now can do `schema.drop('column')`. Should be able to do `schema.drop('column1', 'column2')`

[2020-03-03 13:54] josephmancuso commented on #31
@sphinxxanxus ok I'm fine with that

[2020-03-03 14:20] josephmancuso opened #49 "Add a where_between to query builder"
Normally we would do something like:

[code]

We should be able to do a

[code]

as a shorthand for the above.

It should be added to this class https://github.com/MasoniteFramework/orm/blob/0.1/src/masonite/orm/builder/QueryBuilder.py

and look like this:

[code]

[2020-03-03 15:56] corentinalcoy commented on #31
@josephmancuso,
Sorry I was wrong. Your answer was good

[2020-03-03 16:04] josephmancuso commented on #31
👍

[2020-03-03 16:05] Marlysson commented on #49
Why not use ```BETWEEN``` operator ?
or
```.where('age', '>=', 5).where('age', '<=', '10')```

[2020-03-03 16:08] josephmancuso commented on #49
Its really just syntactical sugar. I don't think there is any performance difference. I think it would be easier across grammar to do it this way. what do you think?

[2020-03-03 16:18] Marlysson commented on #49
Really, to balance operations strongly linked database, what could be done using the own QueryBuilder too.

[2020-03-03 16:26] josephmancuso commented on #49
Ok. I'm not against it just figured it would be easier this way. Most databases have the same syntax anyway for the where ` column BETWEEN 'value_1' and 'value 2'`

@mandarvaze

[2020-03-03 19:25] josephmancuso commented on #49
@mandarvaze @Marlysson I think i'm going to do a live broadcast on Twitch later today. This would be a good easy issue to go over how the project works so I'm going to take this

[2020-03-03 19:28] josephmancuso commented on #40
Taking this issue for the live broadcast

[2020-03-03 21:24] Marlysson commented on #49
Ok. What time will be the livestream?

[2020-03-03 21:25] josephmancuso commented on #49
Gonna shoot around 10pm EST

[2020-03-04 03:36] #40 closed, assigned to josephmancuso

[2020-03-04 03:36] Marlysson commented on #40
Does If the table name already has the "s" at final? There's some problem?

[2020-03-04 03:46] #48 closed, assigned to josephmancuso

[2020-03-04 04:28] #49 closed, assigned to josephmancuso

[2020-03-05 02:05] josephmancuso opened #51 "Retrieve a list of column values"

[2020-03-05 02:06] josephmancuso opened #52 "add where_not_between"

[2020-03-05 02:08] josephmancuso opened #53 "Add where_not_in"

[2020-03-05 02:13] josephmancuso opened #54 "Add test for deleting all records"

[2020-03-05 02:13] josephmancuso opened #55 "Add Truncating"

[2020-03-05 02:20] josephmancuso opened #56 "Add max, min, avg and sum tests"

[2020-03-05 02:21] josephmancuso opened #57 "Add Inserting related models"
https://orator-orm.com/docs/0.9/orm.html#inserting-related-models

[2020-03-05 02:25] josephmancuso opened #58 "Add deleting mulltiple records with .delete([1,2,3]) syntax"

[2020-03-05 02:47] josephmancuso opened #59 "Add accessor and Mutators"

[2020-03-05 02:52] josephmancuso opened #60 "Add attribute casting"

[2020-03-05 02:52] josephmancuso opened #61 "Add serializing"

[2020-03-05 02:57] josephmancuso opened #62 "Rename tables"

[2020-03-05 02:58] josephmancuso opened #63 "Check existence of a table"

[2020-03-05 03:09] josephmancuso opened #64 "Add touching to model"
This should simply set the updated at

[2020-03-05 03:10] josephmancuso opened #65 "Add updated at and created at global scopes"

[2020-03-05 03:11] josephmancuso opened #66 "Add Mass Assignment Protection"

[2020-03-05 16:04] Marlysson commented on #63
This issue it's done here ee20db8 as part of PR.

[2020-03-05 16:07] josephmancuso commented on #63
@Marlysson you are right

[2020-03-05 16:07] #63 closed, assigned to nobody

[2020-03-06 14:00] corentinalcoy commented on #31
I will refactor `self.items` to `self._items`

[2020-03-07 21:18] ghost commented on #62
Assign me this issue
cc @josephmancuso

[2020-03-07 21:19] josephmancuso commented on #62
@sphinxxanxus you got it

[2020-03-09 19:10] #31 closed, assigned to Marlysson, vaibhavmule

[2020-03-10 01:31] #53 closed, assigned to josephmancuso

[2020-03-10 01:41] #52 closed, assigned to nobody

[2020-03-10 02:17] #60 closed, assigned to nobody

[2020-03-10 12:09] #62 closed, assigned to nobody

[2020-03-10 12:29] corentinalcoy commented on #10
@josephmancuso  can I have this one?

[2020-03-10 12:38] josephmancuso commented on #10
Yes. The API should look like this: https://orator-orm.com/docs/0.9/schema_builder.html#dropping-indexes

[2020-03-10 15:15] josephmancuso opened #73 "Add database transactions"

[2020-03-10 19:00] josephmancuso opened #74 "Add attribute adding to a model to be saved later"
We should be able to do something like:

[code]

[2020-03-10 23:20] #59 closed, assigned to nobody

[2020-03-10 23:21] #54 closed, assigned to nobody

[2020-03-10 23:21] josephmancuso commented on #51
I have no idea what I was thinking when i wrote this

[2020-03-11 03:24] #74 closed, assigned to nobody

[2020-03-11 03:52] Marlysson commented on #51
Maybe a form to retrieve just some columns from all results?

[2020-03-11 13:55] corentinalcoy commented on #10
I think you should add `index`, `primary` functions before to complete this issue

[2020-03-11 13:57] josephmancuso commented on #10
for adding constraints?

[2020-03-11 13:58] corentinalcoy commented on #10
Yes

[2020-03-11 13:59] josephmancuso commented on #10
Yes @marlysson is working on something here https://github.com/MasoniteFramework/orm/pull/46

[2020-03-11 14:02] corentinalcoy commented on #10
I thought that he works just on foreign keys.

I am talking about this https://orator-orm.com/docs/0.9/schema_builder.html#adding-indexes

[2020-03-11 14:43] josephmancuso commented on #10
You are right. we have primary keys already but we may need to add normal indexes first https://github.com/MasoniteFramework/orm/blob/bb26afaa355ac6e62b219580f9ebe58e4a5209d4/tests/schema/mysql/test_mysql_schema.py#L265

[2020-03-11 14:51] josephmancuso opened #76 "Add additional schema indexes"
need to make sure we have:

- [x] `primary`
- [x] `index`
- [x] `unique`
- [x] `fulltext `

We should have `primary` already

[2020-03-11 15:28] corentinalcoy commented on #10
The simple MySQL request to a drop primary key is `alter table  table_name drop primary key`
I don't get why we need to pass an argument to `drop_primary`

[2020-03-11 15:30] corentinalcoy commented on #10
I can add index methods

[2020-03-11 15:32] josephmancuso commented on #10
@corentinalcoy Ok awesome you can work on this issue https://github.com/MasoniteFramework/orm/issues/76

[2020-03-11 15:32] josephmancuso commented on #76
Here is a good resource https://vanseodesign.com/web-design/create-add-indexes-mysql/

[2020-03-11 15:33] corentinalcoy commented on #76
@josephmancuso assign to me

[2020-03-11 15:34] corentinalcoy commented on #10
@josephmancuso  And this?

[2020-03-11 15:46] josephmancuso commented on #10
hmm not sure. You can have multiple columns as a primary key though. For now I guess just build no parameters going to it and later we can add support for things like composite keys

[2020-03-11 15:49] josephmancuso commented on #76
I added `fulltext` to description

[2020-03-11 15:55] Marlysson commented on #10
@josephmancuso On #46 I'll add constraints and drop index of type foreign key.

With #76 created ( talking about unique index ), how to handle the unique constraint already created? Who does this, he will make git pull before?

[2020-03-11 15:58] josephmancuso commented on #10
All these things can really happen at the same time. We just need to make sure the format is correct

[2020-03-12 11:57] corentinalcoy commented on #76
@josephmancuso  We have an issue.
With the base code there we can not do something like that
[code]
or
[code]

[2020-03-12 11:58] corentinalcoy commented on #76
I think we should fix it before continue

[2020-03-12 13:30] josephmancuso commented on #76
Hmm you are right. I'm gonna take another look at the schema stuff because the grammars for that are all broken down. They aren't well connected like the select query is.

Let me take a look at that tonight

[2020-03-12 13:30] josephmancuso commented on #76
It seems to be difficult for you and @Marlysson to build these things out so thats a foundation problem

[2020-03-12 13:36] corentinalcoy commented on #76
Okay
Keep in mind we can take the name of the index or constraint from like a parameter.

[2020-03-12 13:39] josephmancuso commented on #76
yeah let me refactor some of the schema stuff first @Marlysson

[2020-03-12 13:39] corentinalcoy commented on #56
@josephmancuso
I am working on this the time you fix the issue with schema

[2020-03-12 19:33] Marlysson commented on #76
@josephmancuso Do I keep the code intact while do you refactor this part, for while?

[2020-03-12 19:35] josephmancuso commented on #76
yeah just keep everything the same. I will take a look tonight

[2020-03-13 00:11] #76 closed, assigned to corentinalcoy

[2020-03-13 05:05] Marlysson commented on #64
Does it like a last modification time?

the api should be like:

[code]

or other way ?

[2020-03-13 23:30] josephmancuso commented on #58
[code]

compile to:

[code]

[2020-03-13 23:37] #58 closed, assigned to nobody

[2020-03-14 17:36] Marlysson commented on #55
@josephmancuso I'm working in this.

[2020-03-14 17:38] Marlysson commented on #10
@corentinalcoy If you aren't working in this... @josephmancuso can you assign me to this?

[2020-03-14 17:52] #11 closed, assigned to Marlysson, josephmancuso

[2020-03-14 17:52] josephmancuso commented on #55
👍

[2020-03-14 18:00] josephmancuso commented on #10
@Marlysson I'm not sure. @corentinalcoy will have to comment. If hes not working on it i'll assign it to you

[2020-03-14 19:54] Marlysson commented on #55
Will the api be QueryBuilder.truncate("table") or Schema.truncate("table") ?

[2020-03-14 20:15] josephmancuso commented on #55
[code]

[2020-03-15 00:55] ghost commented on #10
I am testing...
It will be done in a few hours

[2020-03-15 01:00] ghost commented on #10
@josephmancuso
I found some 'errors' in the project.
I will show when I will turn on my computer..

[2020-03-16 01:00] #55 closed, assigned to nobody

[2020-03-18 00:21] ghost opened #85 "Blueprint: Rename methods not working"
![Screenshot from 2020-03-18 01-19-02](https://user-images.githubusercontent.com/38927111/76913221-a3394f00-68b6-11ea-9d46-27bc23eb9c83.png)

@josephmancuso I think you should fix this. But If you want it I can.

[2020-03-18 10:53] sdispater commented on #40
For your information, plurals are not as simple as adding a `s` at the end of the class name.

That's why for Orator I used the [inflection](https://github.com/jpvanhal/inflection) library, in particular the `tableize` function: https://github.com/sdispater/orator/blob/0.9/orator/orm/model.py#L57

[2020-03-18 11:25] josephmancuso commented on #40
@sdispater good point. I’ll take a look at that. That brings up another point about studdlycase. Like CompanyAddresses that should default to “company_addresses”

[2020-03-18 13:56] #10 closed, assigned to corentinalcoy

[2020-03-18 14:02] corentinalcoy commented on #57
@josephmancuso Can I get this?

[2020-03-22 14:55] josephmancuso opened #87 "Add docstrings to all methods"
This needs to be heavily documented internally using the same docstring format as Masonite

[2020-03-22 15:48] #64 closed, assigned to nobody

[2020-03-25 16:33] Marlysson commented on #8
@josephmancuso
To do this there's three methods:

[code]

Is this problem hard because of cleaning?

[2020-03-26 12:12] corentinalcoy commented on #56
![image](https://user-images.githubusercontent.com/51742802/77645511-3159a900-6f39-11ea-86b5-1d14f74314f0.png)
@josephmancuso The `to_sql` method or `to_qmark` not return the good request for the `first` method in the QueryBuilder. The limit you have set not work. It is set to `False`

[2020-04-03 01:19] #56 closed, assigned to corentinalcoy

[2020-04-03 01:19] #85 closed, assigned to nobody

[2020-04-03 01:19] #66 closed, assigned to josephmancuso

[2020-04-03 01:20] #61 closed, assigned to nobody

[2020-04-03 01:20] #65 closed, assigned to josephmancuso

[2020-04-03 01:20] #32 closed, assigned to josephmancuso

[2020-04-06 00:52] #51 closed, assigned to nobody

[2020-04-06 01:25] #17 closed, assigned to nobody

[2020-04-06 02:29] #18 closed, assigned to nobody

[2020-04-06 02:36] josephmancuso opened #92 "Add greater_than and less_than to the where method"
We currently have something like this:

[code]

But we should ALSO be able to do any one of these:

[code]

@Marlysson or @sphinxxanxus ?

[2020-04-06 08:47] ghost commented on #92
@josephmancuso I will do it.

[2020-04-09 02:18] #92 closed, assigned to nobody

[2020-04-11 15:57] josephmancuso opened #95 "Add a where_has method to models"
just like we have `has` we also need a where_has which would look like this:

[code]

[2020-04-12 17:22] #95 closed, assigned to nobody

[2020-04-12 17:33] josephmancuso opened #96 "Add Migrations"

[2020-04-26 00:08] #96 closed, assigned to josephmancuso

[2020-04-26 13:15] josephmancuso commented on #57
@corentinalcoy this is going to be phase 3 so shouldn't be started yet

[2020-04-26 13:16] josephmancuso commented on #28
@corentinalcoy i'm not sure if you want to take a stab at this? At least duplicate the test_select_grammar.py test maybe?

[2020-04-26 13:16] josephmancuso commented on #28
or if you want to start smaller you can do the `test_insert_grammar.py` test

[2020-04-26 13:17] josephmancuso commented on #28
Postgres is almost identical to MySQL in terms of CRUD grammar. The differences are really the table creation schema grammar

[2020-04-26 13:25] josephmancuso opened #98 "Add Seeding Support"

[2020-04-26 21:34] #98 closed, assigned to josephmancuso

[2020-04-26 22:09] josephmancuso opened #100 "Migrations are out of order in migration directory."
Need to add the second to the migration seconds

[2020-04-26 22:16] josephmancuso opened #101 "primary keys in migrations are not unsigned"
![Screen Shot 2020-04-26 at 6 15 34 PM](https://user-images.githubusercontent.com/20172538/80321301-fb367000-87e9-11ea-8957-b68bdfaf5938.png)

[2020-04-26 22:16] josephmancuso commented on #101
Need to add unisigned option when using the `increments` blueprint method

[2020-04-26 22:45] #100 closed, assigned to josephmancuso

[2020-04-26 22:45] josephmancuso commented on #28
I'm going to start this to see what kind of work is going to be involved

[2020-05-04 03:36] Marlysson commented on #101
Can I take this?

[2020-05-04 13:27] josephmancuso commented on #101
@Marlysson yes

[2020-05-04 14:53] #101 closed, assigned to nobody

[2020-05-13 01:59] #28 closed, assigned to nobody

[2020-05-13 03:47] josephmancuso commented on #3
will move to #22

[2020-05-13 03:47] #3 closed, assigned to nobody

[2020-05-13 03:48] #2 closed, assigned to nobody

[2020-05-15 03:39] josephmancuso opened #106 "Object of type 'datetime' is not JSON serializable"

[2020-05-17 21:01] #106 closed, assigned to nobody

[2020-05-17 21:06] josephmancuso opened #107 "Cannot Serialize a relationships relationship"
I have been trying for 2 full days to find a way to get this to work and I just cannot figure it out.

if we have something like this:

[code]

This produces the correct dictionary. Something like this:

[code]

But i cannot get something like
[code]

to work properly

[2020-05-17 22:26] Marlysson commented on #107
@josephmancuso Which error appears when test is ran.. or just the dict isn't in the correct structure?

[2020-05-18 12:07] josephmancuso commented on #107
@Marlysson i've rewritten this so many times i'm not even sure anymore lol. But I was getting recursion issues because the model was seraizling, which was serializing the collection of models, which was serializing the model, which was serializing the collection etc etc.

I might need to revert a bunch of commits cuss now i'm not sure if even the format is good anymore.

Originally this was only h

[2020-05-20 03:36] josephmancuso commented on #107
I actually figured this out

[2020-05-20 03:36] #107 closed, assigned to josephmancuso

[2020-05-20 16:52] josephmancuso opened #108 "When doing a whereIn with an empty string it throws a SQL syntax error"

[2020-05-20 19:30] josephmancuso commented on #108
Need to change above query to this: select * from `users` where 0 = 1 and `users`.`deleted_at` is null

[2020-05-20 19:31] josephmancuso commented on #108
<img width="757" alt="Screen Shot 2020-05-20 at 3 31 08 PM" src="https://user-images.githubusercontent.com/20172538/82489032-f7c39b00-9aae-11ea-9a50-6a8c3ff94f2c.png">

[2020-05-20 19:31] josephmancuso commented on #108
@Marlysson @corentinalcoy

[2020-05-21 02:55] josephmancuso commented on #108
finished this

[2020-05-21 02:55] #108 closed, assigned to nobody

[2020-05-21 02:56] josephmancuso commented on #87
we need to especially make sure people can hover over the code and let their IDE present good information about what to do.

[2020-05-22 23:31] josephmancuso opened #109 "Faker does not install with Masonite ORM"
need to add faker to the setup.py file

[2020-05-22 23:33] josephmancuso opened #110 "NameError: name 'DriverNotFound' is not defined"
File "/Users/mancuso/testorm/venv/lib/python3.6/site-packages/masonite/orm/connections/MySQLConnection.py", line 18, in make_connection

[2020-05-23 00:13] #110 closed, assigned to nobody

[2020-05-23 00:13] #109 closed, assigned to nobody

[2020-05-23 16:49] josephmancuso opened #111 "Add __guarded__"
We have `__fillable__` but we also need the opposite: `__guarded__` for things that are not mass assignable

[2020-05-25 15:10] josephmancuso opened #112 "Add __hidden__"
Need to add a __hidden__ attribute to hide what gets serialized. This is done when hiding passwords or things that should not be seen.

[2020-05-25 15:11] josephmancuso opened #113 "Add to_json"
Need to easily convert to_json. This should really just be something like:

[code]

[2020-05-25 15:29] josephmancuso opened #114 "create an internal __cast_map__"
Currently the docs say to add custom cast classes to the `__cast_map__` dictionary but it will override the existing cast map. We need a new dictionary like `__internal_cast_map__` and then combine the two dictionaries so it allows extending the casting features.

[2020-05-25 15:47] josephmancuso opened #115 "Add better accessors"
Currently theres no real way to create an accessor. We need to be able to specify a `get_` method which will act as the accessor

[2020-05-25 15:48] josephmancuso commented on #115
need to also make a `get_raw_attribute` method to avoid infinite loops

[2020-05-25 15:49] #1 closed, assigned to nobody

[2020-05-25 16:38] josephmancuso opened #116 "Add deleting logic for SoftDeletes"
Currently there is only the select logic in place

[2020-05-25 16:59] josephmancuso opened #117 "Add Migration Status command"

[2020-05-26 02:32] #115 closed, assigned to nobody

[2020-05-26 02:32] #116 closed, assigned to nobody

[2020-05-26 13:28] josephmancuso opened #120 "Add mutators"
Similar to the accessor logic, we need to make mutator logic to change attributes when setting it

[2020-05-27 01:27] #114 closed, assigned to nobody

[2020-05-27 01:32] josephmancuso opened #121 "Change acessor attribute naming convention"
Right now we have the naming convention as `get_{attribute_name}`. I think this should be `get_{attribute_name}_attribute`.

This is coming from a similar Laravel convention

[2020-05-27 01:35] josephmancuso commented on #121
This is a pretty simple change. The change should be made in the `__getattr__` method of the `Model` class.

[2020-05-27 15:04] rfschubert opened #122 "Be compatible to use UUID as primary key"
As per default in many databases, we should be able to use `uuid` as `pk`.

On `postgres` databases it is common to use `uuid` and not `int` as default `pk`. But is not forced users to use `uuid` so it may be easy to set which type of field we want to use.

`Django` currently forces user to declare the desired `id` and overrides the default, but need be done in every table, and it is quite annoyin

[2020-05-27 15:22] corentinalcoy commented on #121
@josephmancuso assign me this one

[2020-05-27 17:12] josephmancuso commented on #121
All yours

[2020-05-27 23:10] josephmancuso commented on #122
oh i like this

[2020-05-27 23:11] josephmancuso commented on #122
so you're saying when you do

[code]

it actually can map to a UUID?

[2020-05-29 18:34] rfschubert commented on #122
I don't see currently do `table.increments('something')` as useful, but for sample:

I'm using an table to generate sequential numbers because I need to use it on a gov database document.

So I have only one table on my mainframe like this:

[code]
Because for default `Django` will use `id` as auto increment.

And also I have others `85~90` tables using `uuid` as primary key... so I have dozens of

[2020-05-29 18:36] rfschubert commented on #122
I think that if I create a new table, It can generate the `id` field by itself, as every table should have an `id` field as `pk`.

But we should be able to configure ORM like we do with other things (host, username) that it must map `id` fields as `uuid` for default. It would clean lots of lines of code from models.

[2020-05-30 03:45] #112 closed, assigned to nobody

[2020-05-30 22:58] alex-oleshkevich opened #124 "How does it differ from Orator?"

[2020-05-31 01:58] josephmancuso commented on #124
@alex-oleshkevich as for API, how its used and replacing Orator it is intended to be a complete drop in replacement of Orator.

This project is really just me rewriting Orator from scratch basically. It allows us to keep an Orator like ORM fully stocked with features, up to date with security releases, and allows Masonite to maintain full creative control over releases and features.

[2020-05-31 01:58] #124 closed, assigned to nobody

[2020-05-31 02:31] #120 closed, assigned to nobody

[2020-05-31 03:04] #111 closed, assigned to nobody

[2020-05-31 20:16] #73 closed, assigned to josephmancuso

[2020-06-02 02:20] #113 closed, assigned to nobody

[2020-06-06 02:29] josephmancuso opened #129 "add get_schema_builder to the query builder class"

[2020-06-06 02:30] josephmancuso opened #130 "Add begin_transaction method to query builder"
For backwards compatability:

[code]

[2020-06-06 15:20] josephmancuso opened #131 "Collection pluck should return a collection, not the plucked results"

[2020-06-06 15:20] #129 closed, assigned to nobody

[2020-06-06 15:20] #130 closed, assigned to nobody

[2020-06-06 15:27] josephmancuso opened #132 "'SQLiteConnection' has no attribute 'get_database_name'"

[2020-06-06 19:50] josephmancuso opened #133 "User.all() does not return an empty collection"
When there are no results, `all()` does not return an empty collection but returns None instead

[2020-06-06 20:37] josephmancuso opened #134 "Connection classes ignore exceptions thrown"

[2020-06-06 20:44] josephmancuso opened #135 "sqlite has_table not returning correct query"

[2020-06-06 20:52] josephmancuso opened #136 "Schema class does not pass in query bindings correctly in has_table method"
[code]

[2020-06-06 20:54] josephmancuso commented on #135
Should run this query:
[code]

[2020-06-06 20:55] josephmancuso opened #137 "Blueprint class does not pass query bindings"
[code]

[2020-06-06 21:11] josephmancuso opened #138 "Sqlite increments is incorrect column type"
correct column type should be `INTEGER PRIMARY KEY`

[2020-06-06 21:34] josephmancuso opened #139 "sqlite connection object should be the same"
[code]

[2020-06-06 23:48] #139 closed, assigned to nobody

[2020-06-06 23:49] #138 closed, assigned to nobody

[2020-06-06 23:50] #137 closed, assigned to nobody

[2020-06-06 23:50] #136 closed, assigned to nobody

[2020-06-06 23:51] #135 closed, assigned to nobody

[2020-06-06 23:52] #132 closed, assigned to nobody

[2020-06-06 23:52] #134 closed, assigned to nobody

[2020-06-06 23:55] #133 closed, assigned to nobody

[2020-06-07 14:50] Marlysson commented on #131
@josephmancuso Is this issue solved?
I've verify the pluck method and it return ```Collection(attributes)```, Should be done something more?

[2020-06-07 15:10] josephmancuso commented on #131
No I did this. I was trying to replace orator in a masonite 3.0 branch so was making a bunch of bugs I found a long the way. I did this in a commit and pushed up

[2020-06-07 15:10] #131 closed, assigned to nobody

[2020-06-30 14:03] tojorodialson opened #144 "Installation error with ORM"
I have this problem in installation masonite orm

ERROR: Command errored out with exit status 1:
   command: 'd:\projet\masonite\venv\scripts\python.exe' 'd:\projet\masonite\venv\lib\site-packages\pip\_vendor\pep517\_in_process.py' build_wheel 'C:\Users\TOJO\AppData\Local\Temp\tmpxr6a2sb3'
       cwd: C:\Users\TOJO\AppData\Local\Temp\pip-install-9_9s5fcc\pendulum
  Complete output (24 lines):
  Tr

[2020-07-06 00:36] Marlysson opened #140 "Implements a decorator using a context to handle operations inside a transaction."
Create a decorator like ```@transaction``` to handle operation that should ran into a transaction.

Example:
[code]

Behind the scenes the connection class should run:

[code]

In just one step or rollback all case something gets wrong.

[2020-07-06 13:19] Marlysson commented on #117
@josephmancuso there's some special step to run the test_migrations.py file and persist and testing in a sqlite database?

Because I tried to change the _connection_ parameter in Migration class to "sqlite" and it keeps using the MySQL connection

[2020-07-06 22:25] tpow opened #142 "Eager load attribute on model"
I think there are some cases where I always want to eager load a dependent model. I think this currently requires the with('other') construct or a join. Is it possible to add something to the model to indicate that any time I load it I always want to eager load the other so I don't have to remember to do it everywhere I build a query? I suppose this could be expressed as a variation on "belongs_to

[2020-07-06 22:40] josephmancuso commented on #142
no i think this is a great idea.

[2020-07-06 22:40] josephmancuso commented on #142
Would you like to take a crack at it?

[2020-07-06 22:42] #121 closed, assigned to corentinalcoy

[2020-07-06 23:19] josephmancuso opened #143 "Model.all() should return empty collection if there are no results"

[2020-07-06 23:47] Marlysson commented on #143
What does returning currently?

[2020-07-07 00:38] josephmancuso commented on #143
An empty model. This is actually done already

[2020-07-07 00:38] #143 closed, assigned to josephmancuso

[2020-07-07 03:40] tpow commented on #142
@josephmancuso Thanks, but having not even peeked at the new ORM code yet (I'm using Orator), I wouldn't know where to begin and don't currently have the time to dig into it.

[2020-07-13 03:07] josephmancuso commented on #144
Moving this to the Masonite ORM repo

[2020-07-24 00:41] josephmancuso opened #145 "Error with timestamps on schema"
When you do a timestamp like:

[code]

it ignores nullable and also throws a default error.

it compiles down to:

[code]

but should really be

[code]

if we have something like this:

[code]

it should be

[code]

[2020-07-25 02:54] #145 closed, assigned to josephmancuso

[2020-07-25 15:31] josephmancuso opened #146 "table.timestamps() should be nullable"
right now they are not nullable

see:

![Screen Shot 2020-07-25 at 11 31 19 AM](https://user-images.githubusercontent.com/20172538/88460466-6ab01000-ce6a-11ea-8f8a-7c2119956438.png)

[2020-07-25 15:55] josephmancuso opened #147 "Global scopes not working when inherited and using the `all()` method"

[2020-07-26 15:46] Marlysson commented on #146
for the `created_at` field semantically should be not nullable, don't?

[2020-08-02 00:21] josephmancuso commented on #146
@Marlysson I'm not sure .. other frameworks seem to make them nullable

[2020-08-02 00:22] josephmancuso commented on #146
I think its just annoying when creating records manually in the database. Needing to supply a created at and an updated at manually

[2020-08-02 14:35] Marlysson commented on #146
@josephmancuso Yeah, I think annoying do this too. Does maybe the solution was a scope to that?

[2020-08-06 02:25] #147 closed, assigned to nobody

[2020-08-15 15:23] josephmancuso opened #150 "Model.first() does not work"
Model.first() throws an error and says the model is not yet booted

[2020-08-15 15:25] josephmancuso opened #151 "Relationships can not be called."
One of the points of a relationship is changing to a builder on the fly.

So for example this should work:

[code]

For some reason this works in the tests but not when you actually try this

[2020-08-16 19:16] #150 closed, assigned to nobody

[2020-08-16 23:42] josephmancuso commented on #151
I spent all weekend trying to figure this out and can't get it. going to give up for now. Maybe there will be a different way to do this

[2020-08-16 23:42] josephmancuso commented on #151
Python doesn't like this approach even with hijacking all the magic methods

[2020-08-16 23:44] josephmancuso commented on #151
we'll have to think of another way to do this

[2020-08-16 23:51] josephmancuso commented on #151
Since python methods and attributes are basically all treated the same it's impossible to know if a relationship is being accessed `user.posts` or called `user.posts()` and because of that its impossible to hijack any magic methods and know what the user is doing.

[2020-08-22 18:50] tpow opened #152 "Schema Dump command"
It would be helpful to have a command that can generate a dump of the current database schema after the latest migrations. Ideally the format of the file will be similar to that of the database migration files and can be used both to review the schema of the database as well as potentially used to create a new version of the database without needing to run through each migration again (with a sche

[2020-08-25 18:25] ghost opened #153 "Display Pagination Links"
One of the most important parts of any framework is pagination. Masonite seems to be very much inspired by the Laravel Framework. So I did try to display pagination with `{{ collection.links() }}`, sadly this does not work.

Am I missing something or this feature has not been added yet?

[2020-09-09 00:50] josephmancuso commented on #153
This feature has not been added yet. I will move this over to the ORM repo and see if we can add it there

[2020-09-21 03:14] josephmancuso opened #156 "rewrite relationship has and where_has queries"

[2020-09-22 03:09] #156 closed, assigned to josephmancuso

[2020-09-22 03:34] josephmancuso opened #158 "fetch last inserted ID"
When doing an insert we will need to also fetch the last inserted ID and append it onto the result

[2020-09-22 04:05] josephmancuso opened #159 "Add database transactions"

[2020-09-22 12:03] josephmancuso opened #160 "Add polymorphic relationships"

[2020-09-22 12:07] josephmancuso opened #161 "rewrite eager loading"
need to clean up how eager loading works

[2020-09-24 03:58] #161 closed, assigned to nobody

[2020-09-24 04:00] josephmancuso commented on #142
Added this in latest PR #162

Done via adding a `__with__` to the model like it is now with Orator:

[code]

[2020-09-24 04:00] #142 closed, assigned to nobody

[2020-09-24 04:05] josephmancuso opened #163 "Think of ORM name"
Literally none of these names have any priorities. These are just random names I've thrown at the wall:

Contrive
Future
Envision
precord
Ever orm
Iron ORM
stratiform
FirestORM
stORM

[2020-09-24 04:31] vaibhavmule commented on #163
Contrive is best! It stands out from all of them

[2020-09-24 09:15] psyonara commented on #163
One meaning of contrive is to plan with evil intent. 😕

[2020-09-24 09:30] psyonara commented on #163
How about keeping with the naming theme of Masonite?
Ideas:
* Cherry ORM
* Melamine ORM
* Mahogany ORM
* etc

My favorite is Cherry ORM. Since I like cherries and cherry wood. 😜 But Melamine ORM also works well.

[2020-09-24 19:02] Marlysson commented on #163
**masorm** ( Masonite + ORM ) But without any other meaning.

[2020-09-24 19:03] josephmancuso commented on #163
Canvas

[2020-09-25 10:25] girardinsamuel commented on #163
@josephmancuso to help, could you give some background behind naming this framework "Masonite" ?

Thanks 👍  !!

[2020-09-25 12:13] josephmancuso commented on #163
@girardinsamuel

Masonite is a type of hardboard, a kind of engineered wood, which is made of steam-cooked and pressure-molded wood fibers in a process patented by William H. Mason. It is also called Quartrboard, Isorel, hernit, karlit, torex, treetex, and pressboard.

Masonite is a cork board type material that artists typically use to put their artwork on. I think I software development as a for

[2020-09-25 13:59] girardinsamuel opened #164 "Installation of masonite-orm in Masonite project"
After installing latest `masonite-orm` version in a new crafted Masonite 2.3.18 project and making require changes  (for migration) in `config/database.py` file and in `User.py` file, I ran into an error when running those commands in tinker:

[code]
and I got
[code]
I dit not ran migrations yet because of 1st problem and I have `psycopg2-binary==2.8.6`

Did I miss something when migrating to the

[2020-09-25 14:12] josephmancuso commented on #164
With all the refactoring and rewriting going on I haven't had a chance to make sure everything works outside of the unit tests. I'll take a look

[2020-09-25 14:14] girardinsamuel commented on #163
Oh okay thank you, I know this material then ! In French, we are calling it "Medium" (actually it gathers "Isorel" and MDF).
Medium ORM ? :)

I like Canvas as it's in the maker/artist philosophy !

[2020-09-25 14:15] girardinsamuel commented on #164
Yes, sure I am also looking at it but it was just in case it was ringing a bell

[2020-09-25 14:17] josephmancuso commented on #164
@girardinsamuel that actually looks like it must be a new psycopg2 release https://stackoverflow.com/questions/30940167/psycopg2-attributeerror-module-object-has-no-attribute-extras

[2020-09-25 14:17] josephmancuso commented on #164
gonna mark this as a bug then if that's the case

[2020-09-25 14:18] josephmancuso commented on #164
what version are you usin of psycopg2

[2020-09-25 14:19] girardinsamuel commented on #164
psycopg2-binary 2.8.6

[2020-09-25 14:23] josephmancuso commented on #164
that is a new release. I feel like I tested the Postgres database at least last month. I usually disable those tests locally but I wonder if 2.8.5 fixes it?

[2020-09-25 14:23] josephmancuso commented on #164
Maybe a new thing?

[2020-09-25 14:25] girardinsamuel commented on #164
Yes I looked into it but, still same error with 2.8.5.
But with this in mind I should be able to solve it, maybe that's **the** issue to get familiar with masonite-orm 👍

[2020-09-25 14:27] girardinsamuel commented on #164
Here are the details of the release
https://www.psycopg.org/articles/2020/09/06/psycopg-286-released/

Nothing at first view about `extras`

[2020-09-25 14:35] girardinsamuel commented on #164
Found it
It's the way it's packaged

In a shell with 2.8.5 :

Not working (current)
[code]

Working
[code]

[2020-09-25 14:37] girardinsamuel commented on #164
I'll make a PR

[2020-09-25 14:46] josephmancuso commented on #164
should we open an issue with psycopg2? I feel like this shouldn't break between 2 minor versions ...

[2020-09-25 14:51] girardinsamuel commented on #164
Actually I got this issue with 2.8.6, 2.8.5, 2.8.4 ...
You said it was working at one point ?

[2020-09-25 14:58] josephmancuso commented on #164
I thought so lol. I guess not

[2020-09-25 15:03] girardinsamuel commented on #164
Here is a PR which fixes it #165 👍 .

I edited the issue to put the other problem into its own issue.

[2020-09-25 15:11] girardinsamuel opened #166 "Error running masonite-orm command"
After installing latest `masonite-orm` version in a new crafted Masonite 2.3.18 project and making require changes  (for migration) in `config/database.py` file and in `User.py` file, I ran into an issue when running `masonite-orm` command.

[code]
- There is a`wsgi.py` file is in my project root directory
- I have seen that the wsgi in the orm repo is not the same as we had before  ?!

[2020-09-25 15:22] josephmancuso commented on #163
Maker ORM?

[2020-09-25 15:24] girardinsamuel commented on #163
Makes sense both for framework philosophy and for the goal of an ORM ("making" model from/relating to database tables)

[2020-09-25 15:24] #164 closed, assigned to nobody

[2020-09-26 21:49] Marlysson commented on #158
Related to #167

[2020-09-27 16:58] josephmancuso opened #169 "Add eager loading of polymorphic relationships"

[2020-09-27 17:01] #160 closed, assigned to nobody

[2020-09-29 01:38] josephmancuso commented on #166
Fixed in the new 0.6 branch. This branch will be polished

[2020-09-29 01:38] #166 closed, assigned to nobody

[2020-09-29 01:38] josephmancuso commented on #159
Closed from #170

[2020-09-29 01:38] #159 closed, assigned to nobody

[2020-09-29 01:38] josephmancuso commented on #158
Closed from #167

[2020-09-29 01:38] #158 closed, assigned to nobody

[2020-09-29 01:41] josephmancuso commented on #169
currently an attempt to eager load a polymorphic relationship will result in a NotImplementedError

[2020-09-29 01:44] josephmancuso commented on #163
So far I think the top choices are:

Maker ORM (or just Maker)
Masonite ORM
Contrive

Something we have to remember is that whatever name we go with, a developer will have to type it every time they import something.

So something like `maker` is easier to type than a suggestion like `melamine` or even `mahogany`. Something to always keep in mind of as package maintainers is you are likely buildin

[2020-09-29 07:46] girardinsamuel commented on #166
Okay thank you very much. I did not find out how to dot, I've read what you've done 👍 .
I'll we able to continue working on the Inertia demo with Masonite ORM !

[2020-09-29 12:10] josephmancuso commented on #166
I started fixing some things I've seen wrong after the refactoring last night with the schemas. I'll be rewriting that too and will release 0.6.1 which should be the most polished release yet so stay tuned for that :)

[2020-09-29 16:24] josephmancuso opened #172 "migration fails on sqlite"
[code]

[code]

[code]

[2020-09-29 18:35] girardinsamuel opened #173 "Fix fetching config from ORM"
@josephmancuso how do you plan to fetch `database` config ?
Right now it is :
[code]
Should we replace it by something like:
[code]

I got some issue with latest version when running masonite-orm command:
[code]

I know a lot of a refactoring is in progress and I don't if the "masonite config integration" has not been done yet or if it's a bug. Thanks 👍

[2020-09-29 19:19] josephmancuso commented on #173
This is actually a great question and I'm not sure. I've been kicking the can down the road but somehow we need to make the configuration location adjustable. Orator does this by passing in the config location in the command. They also set a Db resolver class and pass in the setting which we can import that to get the connection settings (as it will then be an attribute on the class)

[2020-09-29 20:25] girardinsamuel commented on #173
Yes especially if the ORM can be used with or without Masonite.

I guess the big picture is:
* with Masonite come a DatabaseServiceProvider which could instantiate the ORM with the config as argument (coming from config/database.py).
* without it, we just instantiate the ORM with the config as argument which can come from anywhere.

[2020-09-29 21:25] josephmancuso commented on #173
right exactly. People will complain if we force them to have files they don't want (like config/database.py).

One way is to make a new class like a `DatabaseResolver` class I think is what Orator uses.

Not sure if you know this but anytime you set an attribute on a class it will always be set on that class.

So if we made a class like this:

[code]

then in the users project they need to put thi

[2020-09-29 21:25] josephmancuso commented on #173
for the masonite-orm command we may still need the directory and file because we need to call the module so it loads our resolver

[2020-09-29 21:25] josephmancuso commented on #173
but that can be passed as an argument pretty easily

[2020-09-29 23:35] Marlysson commented on #172
@josephmancuso Can I take this?
Investigating about this, I found that we should enable foreign key support in sqlite databases through  "PRAGMA foreign_keys = ON". This would be done in each opened connection.

https://sqlite.org/foreignkeys.html

[2020-09-29 23:40] josephmancuso commented on #172
oh you know what, you are actually right. I thought it was more complex than that.

We might be able to just straight up put it in the alter table method in the grammar class

[2020-09-30 00:27] Marlysson commented on #172
@josephmancuso The error about ```near ",": syntax error``` is that sqlite doesn't support add constraints in a table through ```ALTER TABLE```. The recommended is defined it when create the table ( with CREATE TABLE ) , but the case of alter table to add new foreign keys is so common that this suggestion don't should be considered.

What should we do?

Here is the reference: https://www.sqlite.or

[2020-09-30 00:31] josephmancuso commented on #172
@Marlysson in the SQLite grammar class we just need to add that

[code]

[2020-09-30 00:31] josephmancuso commented on #172
we might need to also put it back off at the end of the query?

[2020-09-30 00:34] Marlysson commented on #172
Yes, the problem is when the query uses ```alter table``` together ```add constraint``` the sqlite doesn't support.
But I'll try what you suggested.

By that I read, it's just run once on connection and the sqlite database is supported with foreign keys.

[2020-09-30 00:37] josephmancuso commented on #172
oh hmm ok

[2020-09-30 01:14] Marlysson commented on #172
Hmm, by changing in the grammars, all tests should be changed too ( 19 more exactly until now ).

Is recommended to set that once in connection ( when connect to database maybe) ?

I think this bug is more "complex" than I've found because:

The only operations in alter table are ( add table and columns, rename columns ), there's no way add constraint in this statement. [possible operations in ALT

[2020-09-30 01:17] josephmancuso commented on #172
Yes if the data type is not supported it can be mapped in the `type_map` on the grammar

Yes if this is the same thing as what we are trying to do then sure

[2020-09-30 02:20] Marlysson opened #175 "Alter many fields once - SQLITE"
Sqlite supports alter fields just one by one. Currently when many fields are changed, the ```alter table``` statement are joining all of it what will causes error when the integration test was ran.

[2020-09-30 13:10] girardinsamuel commented on #173
@josephmancuso I guess #174 fixed partially the issue, what is left is to create a DatabaseServiceProvider for Masonite.
Maybe I can try to do it as a first issue (as it's more Masonite "side" I might be more comfortable) ?

[2020-09-30 16:19] josephmancuso commented on #173
[code]

This is what I have so far in one of my projects. This should exist in the package somewhere

[2020-09-30 16:20] josephmancuso commented on #173
inside that service provider, like in the register method is where we can import the database config and add it to the connection resolver class

[2020-09-30 16:21] josephmancuso commented on #173
we may have to lazy load masonite so it doesn't conflict with people who don't have Masonite installed

[2020-09-30 16:45] girardinsamuel commented on #173
I will do that in a PR

[2020-09-30 22:41] abarreraaponte commented on #163
CraftORM
Carpenter or CarpenterORM
HeraldORM
BeamORM
BoardORM

[2020-10-01 19:08] Marlysson opened #178 "Add support to able using soft deletes on blueprint table."
Add some method that on table creating be able to support soft deletes with `deleted_at` column.

Something like this:
[code]

References:

- Orator: https://orator-orm.com/docs/0.9/orm.html#soft-deleting
- Eloquent: https://laravel.com/docs/8.x/eloquent#soft-deleting

[2020-10-01 22:51] josephmancuso commented on #151
going to take another stab at this @girardinsamuel

[2020-10-02 01:39] josephmancuso commented on #151
nope. Tried for a few hours and no idea how to implement this with what we have

[2020-10-02 01:39] #151 closed, assigned to nobody

[2020-10-02 01:41] #173 closed, assigned to nobody

[2020-10-02 10:45] girardinsamuel opened #179 "__appends__ does not work on Collections"
This feature https://docs.masoniteproject.com/masonite-orm/models#adding-attributes
seems to only work on one model not a collection

# What I want to do
1. make `set_appends` work on collections
[code]

2. Maybe add `__append__`  to model as in Orator, to automatically append properties defined in this array ?
[code]

[2020-10-07 12:10] corentinalcoy opened #180 "Add the ability to show the sql generated by a migration"
It should be good to add a command which helps to show the SQL generated by a migration.
This feature is something special for Django. I like Laravel but I don't see anything like this when I need to show the SQL of a migration.

Example:
[code]
Output:
[code]
You can check for Django using the link below
https://docs.djangoproject.com/en/3.1/ref/django-admin/#django-admin-sqlmigrate

[2020-10-09 19:47] Marlysson commented on #178
Solved by #181

[2020-10-10 03:46] josephmancuso commented on #180
@corentinalcoy I love it I think its a great idea and it also fits really well in the structure we have now. Will implement when we get there

[2020-10-10 03:51] josephmancuso commented on #175
Fixed in #181

[2020-10-10 03:51] #175 closed, assigned to nobody

[2020-10-10 03:51] josephmancuso commented on #172
Fixed in #181

[2020-10-10 03:51] #172 closed, assigned to nobody

[2020-10-10 03:52] josephmancuso commented on #163
For now, unless something else happens, the ORM will be called Masonite ORM

[2020-10-10 03:52] #163 closed, assigned to nobody

[2020-10-10 03:59] josephmancuso commented on #146
fixed

[2020-10-10 03:59] #146 closed, assigned to nobody

[2020-10-10 03:59] #144 closed, assigned to nobody

[2020-10-10 04:00] #87 closed, assigned to josephmancuso

[2020-10-10 04:01] josephmancuso commented on #8
This will just be apart of each alter schema changes

[2020-10-10 04:01] #8 closed, assigned to nobody

[2020-10-10 04:02] josephmancuso opened #182 "Add MySQL Create Schema"
Need to add:

* MySQLPlatform

[2020-10-10 04:05] Marlysson commented on #178
@josephmancuso close this or more tests needed?

[2020-10-10 04:06] josephmancuso commented on #178
Yup this is good

[2020-10-10 04:06] #178 closed, assigned to nobody

[2020-10-10 04:07] josephmancuso opened #183 "Add Postgres Create Schema"
Need to add:
* PostgresPlatform

[2020-10-11 14:09] hamzzy commented on #122
any guide on i would love to contribute to this

[2020-10-11 16:25] josephmancuso commented on #122
@hamzzy this will be hold until #181 in merged in

[2020-10-11 16:26] josephmancuso opened #185 "Add SQLite Platform Schema"

[2020-10-11 16:46] hamzzy commented on #122
okay @josephmancuso

[2020-10-11 16:52] josephmancuso commented on #22
Will need to add:

 - MSSQLConnection class
- MSSQLPlatform class
- MSSQL tests

[2020-10-12 01:39] #182 closed, assigned to nobody

[2020-10-12 01:39] #183 closed, assigned to nobody

[2020-10-12 01:39] #185 closed, assigned to nobody

[2020-10-12 01:40] josephmancuso commented on #117
closed from #187

[2020-10-12 01:40] #117 closed, assigned to nobody

[2020-10-12 10:27] li-linfeng opened #188 "where to record the query sql to file"
I'm a  Laravel user, and it's very happy to find masonite.

Now I  have  set the  log_queries: True,  and  i can see the sql in the craft serve window .
 I want to put sql into files  globally .

 I want to know  if there is an event like laravel  event ----QueryExecuted.
This event is a global event,  and will  be fired when mysql  query  executed.

I have read the doc, but no result .Hope you ca

[2020-10-12 11:50] josephmancuso commented on #188
No not yet. I'm actually in the middle of creating a new ORM with will replace the existing one. In designing it to be as a drop in replacement as possible to prevent difficulties learning the new one.

I'm not sure if Orator (current ORM) has this but you could try playing with the logger settings on the bottom of your database.py file.

[2020-10-12 17:25] josephmancuso commented on #188
For now I'm gonna transfer this to the new ORM repo

[2020-10-13 02:17] Marlysson commented on #151
Thinking here about that.. When calling **user.posts()** if we check whether attribute is in Model and it's callable? So we'll discover that it's a method call that is being done.

Then call it as you made here ( Model ):
[code]

[2020-10-13 02:18] josephmancuso commented on #151
@Marlysson easier said than done because Python treats attributes the same

[2020-10-13 02:19] josephmancuso commented on #151
if you want to take a stab at this then please. I've spent many hours trying to figure this out lol. Orator did it but by looking at the code I couldn't really figure out how they did it

[2020-10-13 02:19] josephmancuso commented on #151
It's deff possible somehow

[2020-10-13 02:22] Marlysson commented on #151
Yeah, I was looking for in Orator code for some insight too, I'll looking more deep.
The right behavior is what you did in first comment ( Each type of call returning a different type of object  ) ?

[2020-10-13 12:07] girardinsamuel commented on #151
I'll take a look at it too !

[2020-10-13 12:21] Marlysson commented on #151
Maybe it's here that him does all:
https://github.com/sdispater/orator/blob/0.9/orator/orm/relations/wrapper.py

Now it's understand all that magic.

[2020-10-13 12:23] josephmancuso commented on #151
looks like it. I actually haven't looked at that class at all

[2020-10-15 04:08] josephmancuso opened #189 "Add MakeModel command"
Need a command to scaffold out a model

[2020-10-15 04:18] #189 closed, assigned to nobody

[2020-10-15 04:19] josephmancuso commented on #188
added this in feature/188. Will be able to use the normal logging library and then just use a file stream handler. Will write documentation for it

[2020-10-15 04:19] #188 closed, assigned to nobody

[2020-10-15 04:26] josephmancuso commented on #188
https://docs.masoniteproject.com/v/v3.0/masonite-orm/installation#logging

[2020-10-16 00:20] #16 closed, assigned to nobody

[2020-10-16 00:47] josephmancuso commented on #57
@corentinalcoy @Marlysson @girardinsamuel I just realized we can't actually do this ticket until we figure out #151

[2020-10-18 02:09] josephmancuso opened #195 "Make a connector class"
There really should be a single integration point with all these connections and databases. Right now we need to register things in the ConnectionFactory, the GrammarFactory and the Platform Factory.

There really should be something like this:

[code]

[2020-10-18 03:24] josephmancuso commented on #195
#196 adds this but does it a bit differently. Now we just need to add the actual connection class which has all the platforms, grammars, and post processors:

[code]

[2020-10-18 03:28] #195 closed, assigned to nobody

[2020-10-19 03:31] #22 closed, assigned to nobody

[2020-10-19 15:54] josephmancuso opened #198 "Implicit where has with where method."
I saw this syntax in a PHP package and love it:

[code]

This is the same as:

[code]

I feel like we can easily detect a dot notation in the where method and explode it out to a wherehas

[2020-10-19 15:55] josephmancuso commented on #198
we just have to watch because i think we use this syntax already for tables? will have to check

[2020-10-19 16:44] Marlysson opened #199 "Custom config __connection__ in custom model class isn't override"
If we define a connection value in custom model definition it isn't overrided in runtime:

[code]

I think is that in Model class point out always to default connection.

[code]

if 'default' key is point to `mysql` then connection to `User` model will use the mysql even if the `__connection__` is set to `sqlite`

[2020-10-19 21:55] girardinsamuel opened #201 "Add different database services to Github Actions"
I have seen that database credentials are added to Github Action, but no database service are defined so some tests are failing.
It is possible to add database services in Github Actions to make MySQL and Postgres services available.

[2020-10-20 03:05] josephmancuso opened #202 "Add a global transaction helper"
I'm not even really sure how its done but somehow we need to do something like this:

[code]

[2020-10-20 03:06] josephmancuso commented on #202
Thinking out loud, we need to set some kind of global connection object and then roll it back. Just not sure how we get that connection ..

[2020-10-20 11:58] #202 closed, assigned to nobody

[2020-10-20 12:13] #122 closed, assigned to nobody

[2020-10-20 20:00] #199 closed, assigned to nobody

[2020-10-20 20:01] Marlysson commented on #199
Bad configuration. Is working.

[2020-10-20 22:40] josephmancuso opened #205 "Add chunk support"
We need to be able to chunk.

It will need to be in a syntax like:

[code]

[2020-10-21 04:23] #201 closed, assigned to nobody

[2020-10-21 08:21] #179 closed, assigned to nobody

[2020-10-21 17:11] girardinsamuel opened #207 "Be able to use .primary() as for unique() constraint"
Be able on a migration to use primary() this way:

[code]

[2020-10-21 17:25] josephmancuso commented on #207
@girardinsamuel increments is special. Increments assumes that its the primary key.

increments is the same as "auto incrementing primary column" version of the table so its a bit of an all-in-one.

What we really need to to be able to specify any one of the other column types as a primary key like:

[code]

[2020-10-21 17:27] girardinsamuel commented on #207
@josephmancuso Yes that was a bad example but that's what I had in mind.
And increments was confusing me I wasn't sure about what was ran under the hood. thanks for clarifying.

I will update the PR then

[2020-10-21 17:28] josephmancuso commented on #207
ok great just making sure :)

[2020-10-21 17:29] girardinsamuel commented on #207
I have updated the test in the PR, when I am using .primary() on a simple integer column

[2020-10-21 19:32] #207 closed, assigned to nobody

[2020-10-22 03:05] josephmancuso opened #209 "Add support for nested with statements"
Currently nested with statements are not available:

So we cannot do something like:

[code]

[2020-10-22 11:08] josephmancuso opened #211 "Add find_or_fail"
Should be a new method on the model class. If should execute the normal find method but if there is no results it should execute a new `ModelNotFound` Exception

[2020-10-22 11:14] #198 closed, assigned to nobody

[2020-10-22 11:16] josephmancuso commented on #140
@Marlysson where should this go? is this in the model? a random method? Are we doing something like this?

[code]

or is this only going on the model and just pulls the connection from the model?

[2020-10-22 11:24] josephmancuso commented on #211
Also should put `first_or_fail` and `find_or_404 `

[2020-10-22 14:10] Marlysson commented on #140
Se are almost doing this in connections class. I think lack transform in a context manager to join all operation in a single one.

We have the begin_transaction, commit and rollback in connection resolver and in connections class. We could choice, to create from It and use `with db.transaction(...)` or a decorador in util.py file ( `@transaction(...)` ) , using a connection to method operation ( i

[2020-10-23 22:11] girardinsamuel commented on #140
In Django we can call this decorator on "any python functions", I guess it would be more flexible not to put it only on the model, if possible 👍
Those are often put in a `decorators.py` module, so maybe in `connections/decorators.py` ?

Makes sense to have this import:
[code]

[2020-10-23 22:53] josephmancuso commented on #140
I like that

[2020-10-24 00:04] #205 closed, assigned to nobody

[2020-10-24 00:30] #211 closed, assigned to nobody

[2020-10-24 02:41] #209 closed, assigned to nobody

[2020-10-24 14:00] josephmancuso opened #218 "Add change schema"
Currently the only real way to modify a column is to drop it and create a new one. We need to be able to support a syntax like this:

[code]

This would simply add this column to the changed_columns attribute on the Table class and will need be added to each of the platform classes.

[2020-10-24 14:03] josephmancuso commented on #57
I think we actually can do this now because calling the related method actually returns the BelongsTo class where we can fetch the builder method and associate the records

[2020-10-24 14:05] josephmancuso commented on #180
@Marlysson do you need any help on this one?

[2020-10-24 14:10] josephmancuso opened #219 "Add model events and observers"
Orator and other ORMs like eloquent have this concept of model events and observers. We should be able to tie into events such as

Events should be as follows:

[code]

And others that we need.

We should be able to build out observers that can listen to an event such as `{model_name}.{action}`. In the observer we should also be able to listen for more global actions like `{model_name}.*` this wou

[2020-10-24 16:26] Marlysson commented on #180
@josephmancuso I'm looking for how get the content inside .up() method to get the self.schema.blueprint.to_sql(), but until now I don't see how do this.

If uses the locate to instantiate the give migration, I need call .up() method to fill self.schema, but the migration is ran, and this is not behavior desired.

It's like "run context manager but don't run migration"

[2020-10-24 16:28] josephmancuso commented on #180
We do this in the tests. We pass the dry parameter to the schema builder.

[2020-10-24 16:28] josephmancuso commented on #180
You should be able to pass the dry parameter and then inside the schema class see if dry is set and then just print to_sql()

[2020-10-24 16:37] Marlysson commented on #180
Ohh I see, I'll try here.

Is this docstring right?

https://github.com/MasoniteFramework/orm/blob/b9c5ab39c0f87f7e19a7247c58ea5b14233991a0/src/masoniteorm/schema/Schema.py#L54

[2020-10-24 16:57] josephmancuso commented on #180
No. A lot of these docstrings are not up to date. I wasn't updating them when I did the rewrite

[2020-10-24 18:02] Marlysson commented on #180
I don't know if I'm missing some step but besides create the command and add it to Entry.py is some additional step to add a new command and be available to test ( python orm migrate:sql ... ) ?

[2020-10-24 18:12] josephmancuso commented on #180
Depends on how you are running the commands. You can also add it to the orm.py file and run it as "python orm your:command"

[2020-10-24 23:33] #219 closed, assigned to nobody

[2020-10-25 01:01] #180 closed, assigned to Marlysson

[2020-10-25 17:18] #57 closed, assigned to nobody

[2020-10-25 21:56] josephmancuso commented on #153
Pagination is done but we still need to add links. I'm not sure how this should be done yet. We might have to extend this in Masonite itself. The way Laravel does it is it actually returns the contents of a view instead of HTML.

[2020-10-25 22:36] girardinsamuel commented on #153
Yes I have looked into this and we need to add stuff in Masonite itself, I could try to do it 😉

[2020-10-25 22:38] girardinsamuel commented on #140
@Marlysson @josephmancuso I can finish it if not started, I guess most of it is already done with latest additions

[2020-10-25 22:40] josephmancuso commented on #140
Sure. This is really wrapper around what we already have so should be simple 👍

[2020-10-25 22:53] girardinsamuel opened #224 "Is morph_to feature equivalent to Orator ones ?"
Opened this issue to clarify the use of `morph_to`.
I was using this with Orator:

[code]
Then I can call:
[code]

So now with ORM, I figured I could do what is below but I can't figure out:
* what column using in the Notification migration for notifiable. Is there such a column ? Or is this simply ORM level stuff ?
* how should I revert the relation to get `user.notifications()` ?
* should I defi

[2020-10-25 23:23] girardinsamuel opened #225 "Error running migration with sqlite on latest version"
Is it only me or ?
When I run `masonite-orm migrate` on a new sqlite database I get:
[code]
`column` is `<masoniteorm.expressions.expressions.SelectExpression object at 0x10d7cebb0>`

[2020-10-26 00:50] josephmancuso commented on #225
It's because of a difference in how the ORM is installed vs how it's structured locally. If you run any commands you need to run 'python orm' in the project.

[2020-10-26 00:51] #225 closed, assigned to nobody

[2020-10-26 03:47] josephmancuso commented on #224
morph_to is going from the polymorphic table to the actual record table.

To go back the other way I think you would just need a simple belongs_to.

Something like this:

[code]

then on the article or comment model:

[code]

Is there a better way to do this? Maybe I'm missing something

[2020-10-26 07:24] girardinsamuel commented on #225
@josephmancuso oh I was running "python masonite-orm" and with "python orm" it's working.

[2020-10-26 07:29] girardinsamuel commented on #224
@josephmancuso  Well seems okay to me. Other questions to make this work:
- I guess we should create "record_type" and "record_id" on the Like table manually ? (maybe we could add a `morphs` method to do that as in Orator) => opened #228
- Is calling morph_map mandatory ? Or if not, types will be set to table name by default ?

[2020-10-27 12:20] josephmancuso commented on #224
@girardinsamuel currently its mandatory yeah. Do you know a way we can automatically guess the model?

[2020-10-27 12:26] girardinsamuel commented on #224
@josephmancuso In Django there is a helper which can return the model class from a string : "users.User" or "blog.Article".
It follows the pattern : "app_name.model_name". here we don't have the app part but, I guess we could use same idea for the model part + how autoload module is able to get and load classes in a specific folder.

The process would be:
- get all classes in app/ and check if the

[2020-10-27 13:09] josephmancuso commented on #224
That's typicaly how its done yeah. We usually store something like `{namespace}.{model_name}` so if you store you User model in `app/models` it would be `app.models.User`. Then we just fetch it. We can default to that. I know in Laravel it does that by default but if I want the ability to move my models around I usually just store it as `User` and then set something in the morph map:

[code]

[2020-10-27 13:20] girardinsamuel commented on #224
Or maybe we should just add a `__morph_key__` attribute on the Model (default to `__table__` value)  and then, `record_type` would be set to this attribute.
this way the setting is close to the model and there is not need to call morph_map somewhere in different places for different models.

[2020-10-29 03:43] #218 closed, assigned to nobody

[2020-10-30 18:08] josephmancuso opened #230 "Add time ran to migrations"
<img width="704" alt="Screen Shot 2020-10-30 at 2 07 18 PM" src="https://user-images.githubusercontent.com/20172538/97741582-560e9400-1ab9-11eb-89ee-1bd2b80d2ee4.png">

[2020-10-31 02:49] Marlysson opened #231 "With statement to can use QueryBuilder or Model operations inside transaction"
Support to run:

[code]

or a Model operations:

[code]

The difference to #229 is that here we can run some operation outside of a transaction and rollback just some code. In #229 we can only revert couple operations.

[code]

So, if some exception raises, just snippet inside with statement would be rollbacked. In this exemple the "history" of charges of customer would keep ( even if the payment

[2020-10-31 05:51] Marlysson commented on #225
@josephmancuso
I'm on Windows and until now I don't have facing with this problem. But now it come back.

Even if run "python masonite-orm" or "python orm" it's failing.

Using "masonite-orm" to create a model/migration it works fine, but in "migrate" fail.

[code]

By run `pip install masonite-orm` accours the following errors on windows:
    - Because of pendulum version used in masonite-orm tha

[2020-10-31 11:10] josephmancuso commented on #225
Make sure Masonite ORM is not installed.

Pip uninstall masonite-orm

[2020-10-31 14:17] girardinsamuel commented on #231
Yes could be great to use this instead of the decorator approach for some use cases.

If you think it makes sense, I can add the context manager feature to the decorator class to be able to use both

[2020-10-31 16:28] #230 closed, assigned to nobody

[2020-10-31 20:20] josephmancuso opened #233 "Cannot eager load multiple eagers off of the same relation"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/MasoniteFramework/orm/issues/233)

Need to add eager loading support. This feature must have support for nested relationships to eager loading.

Currently there seems to be an issue with eager loading a relationship off the same eager loading relationship.

For example w

[2020-10-31 20:26] Marlysson commented on #233
@josephmancuso In future we can change the syntax to receive a list instead of append the model name in every relation?

[code]

[2020-10-31 20:28] josephmancuso commented on #233
We need the relationship name. The example is eager loading articles, the articles logos as well as the articles comments

[2020-10-31 20:28] josephmancuso commented on #233
The example you gave would just be eager loading the users logo and users comments

[2020-10-31 20:31] Marlysson commented on #233
Yeah, I've updated the example, but turns into something very complex.

[2020-10-31 20:42] josephmancuso commented on #233
Yeah I don't think that improves anything. Makes it complicated.

[2020-10-31 20:43] josephmancuso commented on #233
I'd be open to doing something like `with_('articles.logo,comments')`

[2020-10-31 20:44] josephmancuso commented on #233
But let's get this working first lol

[2020-11-01 15:20] girardinsamuel opened #234 "Error running where or find query on User model"
On a test project with `masonite-orm v0.8.0b` I got an error running User.find(29) or User.where("id", 29) even if this id exists (with postgres, did not test it with other databases).

[code]

[2020-11-01 15:21] girardinsamuel commented on #234
Is it just an issue with the logger trying to log something in console and try to build bad formatted string ?

[2020-11-01 15:22] girardinsamuel commented on #234
Same error with any of the fields (not only id):
[code]

[2020-11-01 15:42] girardinsamuel opened #236 "Possibility to run only a specific seed"
It was possible before, and right now still documented as possible (https://docs.masoniteproject.com/v/v3.0/masonite-orm/seeding#running-seeds):
[code]

But it's not anymore, any reasons that it has been removed ? Should we add it again ?

[2020-11-01 16:19] girardinsamuel commented on #234
@josephmancuso Some thoughts on this ? Did I misconfigured something or is it a real bug ? I tried to track it down but I did not found the exact line yet

[2020-11-01 16:24] josephmancuso commented on #234
I guess it's a real bug. I feel like I would have seen it by now though. I'm guessing that error has to do with too many bindings being passed to the connection query method?

[2020-11-01 16:51] josephmancuso commented on #234
[code]

[2020-11-01 16:51] josephmancuso commented on #234
I can't reproduce 🤔

[2020-11-01 16:51] josephmancuso commented on #234
do you have masonite-orm installed maybe? try `pip show masonite-orm`

[2020-11-01 16:59] girardinsamuel commented on #234
[code]

[2020-11-01 17:00] girardinsamuel commented on #234
I am trying to maintain/complete the ping crm demo for the inertia adapter and as I am doing every 5/6 days, ORM changed, so I always start by updating to the last orm version and it's not always easy for now lol.

[2020-11-01 17:04] girardinsamuel commented on #234
the full list of requirements of my test project:
[code]

[2020-11-02 13:59] girardinsamuel opened #238 "Add table.soft_deletes() to ease working with soft delete scope"
Add soft_deletes() method to blueprint to create a `deleted_at` datetime nullable column.

[2020-11-02 14:01] girardinsamuel commented on #234
@josephmancuso

I am working on a test project using Masonite 3.0, and I installed the latest masonite-orm version from 0.8 branch. Is it the correct way ?

[2020-11-02 16:00] Marlysson commented on #238
@girardinsamuel this?
https://github.com/MasoniteFramework/orm/blob/86e93c18940c232669a734665a857390351acc8d/src/masoniteorm/schema/Blueprint.py#L424

[2020-11-02 16:01] girardinsamuel commented on #238
Oups it's already there ! 🤫

[2020-11-02 16:01] #238 closed, assigned to nobody

[2020-11-05 12:46] josephmancuso commented on #236
Nope this should still be a thing

[2020-11-05 12:50] josephmancuso commented on #233
@Marlysson I actually think you are right. The data structure we have is not going to work. The issue is that if we do something like:

[code]

It will register the `articles.comments` relationship on the user but then it gets overridden when we add the a `articles.author` relationship because its both registered to the user model.

@Marlysson So I think we need a different data structure here. I

[2020-11-05 13:19] girardinsamuel commented on #236
Okay I will add it again (should be in git history)

[2020-11-05 13:20] josephmancuso commented on #236
It could be. I may not have added it to ORM. With Masonite I had a wrapper around Orator to do this. We may need to just do this from scratch

[2020-11-05 13:26] girardinsamuel commented on #236
Oh okay well I'll look into it 😉

[2020-11-11 02:05] josephmancuso commented on #233
Having a hard time with this 😞 . Need to keep trying different things here

[2020-11-11 05:12] girardinsamuel commented on #224
@josephmancuso what do you think ?

[2020-11-11 13:11] josephmancuso commented on #224
umm if we added a morph key, how would we really know? we would have to register the morph map somehow. I think it would be easier to save the namespace and model name and then use pydoc to locate the model if there's no record in the morph map

[2020-11-12 13:55] RoySegall commented on #233
I know that the Drupal 7 Entity module have something which calls `EntityMetadtaWrapper` which does something like:
[code]
There's can be something more complex like:
[code]

This is done by using getters and setters on the object and loads. Is that the same case with eager loading?

[2020-11-12 14:03] josephmancuso commented on #233
@RoySegall that's not exactly eager loading I believe. That is more relationships and relationship chaining (which the ORM supports already).

How eager loading works here is inside the queryBuilder before the result is returned, If there are any relationships registered for eager loading (using `with_('articles')`) then it needs to load the full relationship into memory and register it to the use

[2020-11-12 15:50] Marlysson commented on #233
@josephmancuso The current trying is in feature/233 branch?

[2020-11-13 00:37] josephmancuso commented on #233
@Marlysson yes but I've ripped out and rewrote it a bunch of different ways so there's been no real progress on it

[2020-11-13 14:24] RoySegall commented on #233
any change for a DB for example or on how to set the records to get the bug? Would be more useful when trying to reproduce and fix the bug

[2020-11-13 14:35] josephmancuso commented on #233
Feel free to modify the orm.sqlite3 database in the root of the project. Can use a normal database client like table plus.

To replicate the issue at the database level would be to eager load the same root relation twice.

So we have a relationship currently that goes:

[code]

In other words,

* User has many articles and an articles has one logo
* An article has one user

This relationship is se

[2020-11-25 04:30] josephmancuso commented on #233
I completed this myself and cancelled funding for it. Thank you for everyone interested in this issue! ❤️

[2020-11-25 04:30] #233 closed, assigned to josephmancuso

[2020-11-26 16:17] josephmancuso commented on #234
note to self, just waiting on more info on what `query` and `vars` is on this line:

[code]

if vars has more bindings than the query has then it should throw that error. So need to make sure that is not the case. If it is the case then it would be an issue with bindings inside the postgresGrammar class

[2020-11-26 16:45] josephmancuso opened #240 "Add list_table_columns to schema builder"
needs a way to list the table columns so we can rework the model:doctstring command.

In order it was called `list_table_columns`:

example in orator:

[code]

[2020-11-26 16:49] josephmancuso commented on #240
we already have something like this for schema migrations. Its inside the platform classes called `get_current_schema`. Just really need to make sure its capable of getting the information we need to be able to get column names, values and enough to generate something like this:

[code]

[2020-11-26 18:04] girardinsamuel commented on #234
- [ ] I'll look into this to check what is the content of query and vars when I run into this issue
- [ ] I should also try with latest version of Masonite/Masonite ORM

[2020-11-28 21:30] josephmancuso opened #241 "Timestamp not setting nullable attribute in schema"
When running a timestamp column like this:

[code]

It results in this query:

[code]

This is wrong it should be

[code]

[2020-11-28 21:39] josephmancuso opened #242 "Migration output breaks when schema query is a list"
When schema query is a list (like when we alter a table), the output breaks when using `migrate -s` because now there are too many lists

[2020-11-28 21:50] #242 closed, assigned to nobody

[2020-11-29 00:21] #241 closed, assigned to nobody

[2020-11-29 01:31] josephmancuso opened #246 "dates are converting to todays date if they were None when accessed on models"
If i set a field in the `__dates__` attribute, it converts fine on serialize but does not work on accessing the attribute.

If you try to use a pendulum instance on the attribute you will get:

[code]

[2020-11-29 02:12] #236 closed, assigned to nobody

[2020-11-29 02:13] josephmancuso commented on #246
The actual issue was that the dates were converting to todays date if they were None

[2020-11-29 02:16] josephmancuso opened #248 "Eager Loading is using too many bindings"
When eager loading it is calling the bindings for every model in the collection when it should just be pulling the unique ids

[code]

It should pluck as well as call unique() when eager loading in the query builder class

[2020-11-29 02:38] josephmancuso commented on #246
actually when assigning a relationship, relationship is being serialized (to a string) and then when retrieving the attribute it does not convert back to pendulum.

Could possibly add this logic inside the __getattr__ method on the model or find a way to register the relationship without serializing

[2020-12-02 02:58] #246 closed, assigned to nobody

[2020-12-02 04:11] #248 closed, assigned to nobody

[2020-12-02 13:53] meideros opened #259 "HasManyThrough with unlimited intermediate models."
I realize that orator orm does not allow us to apply hasmanythrough between more than three models, and since masonite orm is a package that aims to replace orator orm, I suggest that this be possible with masinite orm.

[2020-12-04 15:43] josephmancuso opened #252 "Add `after_creating` to factory class"
Here is an example in PHP:

[code]

After the factory is created, if there is an `after_creating` registered for that model it should pass the result and a faker instance to this callable

[2020-12-04 21:16] josephmancuso opened #253 "Passing a list to find([1,2,3]) should return collection"
[code]

Should be exactly the same as doing:

[code]

[2020-12-05 02:16] josephmancuso opened #254 "Be able to specify migration path for migrations"
Currently, databases/migration is hard coded in the migration class. Should be able to specify one in any migration commands that require it

[2020-12-05 03:17] josephmancuso opened #255 "Cannot name connection classes whatever we need."
Currently the connection class needs to be called either `mysql` or `postgres` and cannot be named something like `dev` and `staging`

[2020-12-05 19:41] #255 closed, assigned to nobody

[2020-12-05 20:09] #253 closed, assigned to nobody

[2020-12-05 20:10] josephmancuso commented on #234
I'm gonna close this bug for now. This was an issue a few releases back. Can reopen if this is still an issue

[2020-12-05 20:10] #234 closed, assigned to nobody

[2020-12-05 20:15] josephmancuso commented on #140
Closing this for now. Can reopen if new requirements or needs come up https://github.com/MasoniteFramework/orm/pull/229

[2020-12-05 20:15] #140 closed, assigned to nobody

[2020-12-05 21:55] josephmancuso commented on #259
Transferring this to the orm repo

[2020-12-05 22:12] josephmancuso commented on #259
@meideros how do you expect something like this to look? This would require a huge and confusing chain of primary keys and models.

If these relationships are too distant it might make more sense from a database perspective to denormalize a bit

[2020-12-10 18:44] Marlysson opened #264 "Field access Expression outside of model instance"
**Case:**

[code]

Currently the way to do that is access the attribute from a previously loaded model

**Solution:**

[code]

Reference:

https://docs.djangoproject.com/en/3.1/ref/models/expressions/#f-expressions

[2020-12-10 22:15] Marlysson commented on #240
We really need call database to get table informations or just all Column objects inside Bluprint already works to do this?

[2020-12-11 13:24] josephmancuso commented on #240
The platform class does this already for sqlite because sqlite has almost no altering abilities. For SQLite we need to actually drop the table and rebuild the table on most table altering operations so you can see how we did this in the sqlite platform class. We really just need to add this to this to the other platform classes and make sure it has all the information in the model docstring that o

[2020-12-11 17:56] josephmancuso commented on #259
It would have to work like this

https://github.com/staudenmeir/eloquent-has-many-deep

[2020-12-17 00:48] circulon opened #265 "Missing 'like' and 'not like' operator in QueryBuilder"
I wanted to use the 'like' operator in where (with wildcard specifiers % and _) in postgres.

eg
builder = SomeModel.get_builder()
builder.where('name', 'like', '%jones%')
results = builder.get()

Unfortunately these operators are not listed in the   QueryBuilder._extract_operator_value as a valid operator

Unless there is another way to do a 'like/Not like'?

Thanks

[2020-12-17 01:22] josephmancuso commented on #265
hmm how did this get missed? lol. Thanks for reporting it

[2020-12-17 02:15] circulon opened #267 "QueryBuilder where_raw bindings parameter not used"
As far as I can see the QueryBuilder.where_raw accepts a tuple as the values that would be bound to the parameters (?) in the final query.

The bindings parameter is not used when adding to the self._wheres attribute

Thanks

[2020-12-17 02:17] circulon commented on #265
Np thanks for this updating this regularly

[2020-12-17 02:18] josephmancuso commented on #267
Great point

[2020-12-17 02:36] josephmancuso commented on #267
Good catch. Looks like the bindings were not being passed to the query expressions class

[2020-12-17 02:45] #265 closed, assigned to nobody

[2020-12-17 02:45] #267 closed, assigned to nobody

[2020-12-17 02:47] josephmancuso commented on #267
This is fixed and released in 0.9.2

[2020-12-17 02:48] josephmancuso commented on #265
This is completed and released in 0.9.2

[2020-12-17 02:49] circulon opened #268 "updated_at timestamp gets current timestamp on model find/hydrate when record field is empty"
when using the default for the _timestamps_ attribute the updated_at attribute gets populated with the current timestamp if it is empty/null when selecting amodel record that has never been updated
thus providing a false positive of its actual "updated_at" status

The desired  behaviour is to reflect the record field value ie None when populating a model object and the record field is empty

Curre

[2020-12-17 03:21] josephmancuso commented on #268
@circulon can you give me some code examples of how to replicate this?

[2020-12-17 03:22] josephmancuso commented on #268
when trying to replicate this it looks like I came across and issue where the updated_at was not even getting set when updating a record

[2020-12-17 03:32] josephmancuso commented on #268
I think what you are saying that if record ID 1 has updated_at as NULL and you fetch the record it will actually hydrate as the current time stamp.

Can you try again on latest version of the ORM? I think this may have been fixed already

[2020-12-17 03:59] circulon commented on #268
Yes thats exactly what I mean.

I'm at work and will add and will test once im home and report back.

[2020-12-17 09:15] circulon commented on #268
@josephmancuso

Confirmed this issue is fixed in the current 0.9.1 release
Thanks for checking

[2020-12-17 13:39] josephmancuso commented on #268
Ok cool. Yeah this was fixed in 0.9.0

[2020-12-17 13:39] #268 closed, assigned to nobody

[2020-12-17 13:39] josephmancuso commented on #268
Thanks for pointing this out

[2020-12-17 19:46] Qubhis commented on #254
Hi,

what about keeping migration_directory argument with slash notation when assigning it to self.migration_directory, replace hardcoded "databases/migrations" with self.migration_directory in relevant methods, and finally creating a migration_directory variable with dot notation where is needed:
[code]
[code]
in methods def locate + def migrate -> create variable migration_directory = self.migra

[2020-12-17 20:03] josephmancuso commented on #254
@Qubhis yeah that will work

[2020-12-17 21:37] circulon opened #271 "'like' operator should default to 'ilike' for postgres"
Thanks for fixing the like operator.

I just found out that Postgres has separate 'like' and 'ilike' operators (case-sensitive and case-insensitive respectively)

I would think that the grammar for 'like' and 'not like' in postgres default to 'ILIKE' and 'NOT ILIKE' as all other RDMS seem to have no distinction like this (no pun intended) and are all case-insensitive.

[2020-12-17 21:40] josephmancuso commented on #271
Are you able to put this PR together?

This would just be a small text change on these 2 lines

https://github.com/MasoniteFramework/orm/blob/0.9/src/masoniteorm/query/grammars/PostgresGrammar.py#L69-L73

[2020-12-18 00:36] circulon commented on #271
PR created fixing this issue
https://github.com/MasoniteFramework/orm/pull/272

[2020-12-18 15:02] qlixes opened #273 "FirebirdSQL feature support"
Dear Sir,

I interested with your hardworked project for drop in replacement of OratorORM.
I want to join on FirebirdSQL support feature, because i like to learn for Firebird 3 and Firebird 4.
But I'm not strong on python 3 and still need knowing CodeStyle or Linter's team used.
Many thanks.
hopefully I'm not offend too many with my less power.
Thank you a lot

[2020-12-18 15:07] josephmancuso commented on #273
Thank you for your interest in the project and feature request. I would love for the ORM to support FirebirdSQL

Unfortunately I do not want this as part of the core library as I do not want to over reach and support more than the databases supported currently. (mysql, Postgres, sqlite and mssql).

Although most of the code is abstracted out and new databases are relatively small, new features wil

[2020-12-18 15:18] qlixes commented on #273
Thank you a lot for reply.
Absolutely interested for it.
I'll try my best on masonite-orm-firebird.
Once again, thank you a lot

[2020-12-18 15:25] josephmancuso commented on #273
Ok let me know when the GitHub repository is open and I can give my help on how it should be structured and the classes you will need to implement.

There are 4 databases supported here so you could just copy the classes from here for a database like Postgres to your repo and then change the naming and implementation.

After you add that you will just need to register the connection to the Connect

[2020-12-18 16:03] josephmancuso commented on #273
Just note, a quick research for python and firebird support shows some DBAPI packages only support 3.8+. This package supports 3.6+ so either create an implementation that supports Python 3.6+ or put only supports 3.8+ in your library documentation

[2020-12-18 16:15] qlixes commented on #273
Yes, Sir. Noted.
I'll do my best.

[2020-12-19 02:12] #254 closed, assigned to nobody

[2020-12-19 02:14] josephmancuso commented on #273
I'm gonna close this issue but feel free to comment here if you need help or join the slack channel

[2020-12-19 02:14] #273 closed, assigned to nobody

[2020-12-19 02:15] #271 closed, assigned to nobody

[2020-12-19 09:54] circulon opened #275 "Multiple order_by doesnt work"
Currently using Model.order_by('col),order_by('other_col') throws a sql engine syntax error

Fix for this issue https://github.com/MasoniteFramework/orm/pull/274

[2020-12-19 13:06] josephmancuso commented on #224
I think this question has been answered. If you (or anybody) wants to come up with a proposed solution on enhancing the morph map here I'm all for it

[2020-12-19 13:06] #224 closed, assigned to nobody

[2020-12-21 13:21] #275 closed, assigned to nobody

[2020-12-21 15:08] josephmancuso commented on #264
This will need to do a few things:

* Add a new `FieldExpression` class. which really just queries the table for the one column and return that value
* Somehow know the "context" in which its being used so it can set the correct connection and table. So see the example above where its used with the Inventory model.
* Simply make a query like `select price from inventory where id = 1` and return th

[2020-12-21 18:49] josephmancuso opened #276 "Add new builder method scopes for soft deleting"
Need to add the following scopes or methods to the `SoftDeletesMixin` class:

* `only_trashed()`
* `restore()`
* `force_delete`

[2020-12-21 19:24] josephmancuso opened #277 "Add when to query builder"
We should be able to specify a `when` method that receives a conditional and then optionally calls the lambda or function callback:

Example:

[code]

[2020-12-23 16:07] josephmancuso opened #278 "Add ability to truncate with foreign keys disabled"
Most times if you ar truncating and have foreign keys it will throw an error so need a way to disable foreign key checks when truncating

[2020-12-23 16:22] josephmancuso commented on #278
Needs these 2 new methods on the schema class:

[code]

and possibly one method that does all of it in 1:

[code]

or maybe even:

[code]

[2020-12-24 14:56] Marlysson commented on #277
Is it like a chain of where methods?

[2020-12-24 14:59] josephmancuso commented on #277
yeah it can be chained. Its just if the first parameter is truthy then run the callback in the second parameter. Would look something like this:

[code]

[2020-12-24 15:07] Marlysson commented on #277
A doubt, the attribute "age" in "when" method... is it evaluate from conditional from outside model or every line that checks every line from User model where age it's >= 18 and in case truthy then run callback method?

[2020-12-24 15:10] josephmancuso commented on #277
No its just a normal conditional. Maybe a more obvious use case is:

[code]

Its just true or false, removing the variables will just look like this:

[code]

[2020-12-28 04:57] #277 closed, assigned to nobody

[2020-12-28 05:16] #278 closed, assigned to nobody

[2020-12-29 03:36] josephmancuso opened #281 "Soft deletes scope does not work when deleting models"
Currently when deleting a model with this mixin it should change the query to an update instead of a delete

[2020-12-29 04:02] #281 closed, assigned to nobody

[2021-01-01 22:03] josephmancuso opened #283 "Count not a callable on the model."
The current behavior of `count` on a model does not work. Need to add it to the pass through.

The count method should just execute and call the query like the get method

[2021-01-01 22:18] #283 closed, assigned to nobody

[2021-01-02 14:15] Marlysson opened #285 "Custom message in logging queries"
Define a custom messsage to logging queries.

[code]

[2021-01-02 14:16] josephmancuso commented on #285
https://orm.masoniteproject.com/installation#logging

[2021-01-02 14:19] Marlysson commented on #285
@josephmancuso Can we change the current default message that are being used inside code?

[2021-01-02 14:45] josephmancuso opened #286 "add update_or_create to query builder"
Here is a code example:

[code]

[2021-01-02 14:53] josephmancuso commented on #285
which one?

[2021-01-02 14:53] josephmancuso commented on #285
if you mean the one that is printing out in the connection classes, that really shouldn't be there. I just put that there for now so I can easily debug things as we test it

[2021-01-02 15:04] Marlysson commented on #285
Yep, that one! Then the message putted in formatter should be cascade until base code...
I will take a look that!

[2021-01-02 15:06] josephmancuso commented on #285
yeah the one printing will be removed soon. You can look into adding some more options to the formatter tho. I think currently it only does query and query time

[2021-01-02 15:51] Marlysson commented on #285
@josephmancuso What do you think of this, change the "format" of define logging to encapsulate all of initial configs:

from:

[code]

to:

[code]

[2021-01-02 15:54] josephmancuso commented on #285
yeah that's fine

[2021-01-02 16:47] Marlysson commented on #285
@josephmancuso this logger to logging queries will be used to all types of infos or just sql queries?

Ask this because if to just sql query just need the "info" level of log, if not, then I need create other levels.

I'll open the PR to analysis.

[2021-01-02 18:27] girardinsamuel opened #288 "Bug when running migrations without specifying connection"
Requirements:
- masoniteorm==0.9.3
- masonite == develop

To reproduce:
- in config/databases.py => set default as 'postgres'.
- run `python craft migrate` =>
[code]

It's working when running `python craft migrate -c postgres`.

Here is the issue is that self.connection equals to `default` and then `self.connection_details.get(self.connection, {})` equals to the string `postgres`.

Is this a real

[2021-01-02 18:30] girardinsamuel commented on #288
Looks like it's working with unreleased version of masonite orm.
I installed in my project
[code]
this version is not released and fixes this bug.

[2021-01-02 18:30] #288 closed, assigned to nobody

[2021-01-02 18:30] girardinsamuel commented on #288
@josephmancuso FYI

[2021-01-03 11:24] girardinsamuel opened #289 "Add __visible__ to model serialization"
Right now, when serializing a model it will put all model fields + properties (what has been defined in __append__).

I have seen that we can start from a dict given as argument of the `serialize()` method, but I have not really see a way to define how the model should be serialized without using Masonite API.

Here I just want - on the fly - to serialize e.g. the User model with three attributes:

[2021-01-03 11:55] girardinsamuel commented on #276
Yeah that's exactly what I was looking for the pingcrm inertia demo !

I am struggling to get only trashed users as we should check that users have a `deleted_at` field not null or not empty.. => `where_not_null("deleted_at")`  does not seem to work, I guess that the default value for `deleted_at` is not the SQL `NULL` but maybe "" ?

[2021-01-03 11:55] girardinsamuel commented on #276
I will open a PR

[2021-01-03 18:25] josephmancuso commented on #289
There is already a `__hidden__` attribute to hide any attributes that should not be serialized. Maybe we need the opposite. Maybe a `__visible__` attribute

[2021-01-03 18:27] josephmancuso opened #291 "Issue with setting and then getting attributes"
There seems to be an issue with getting attributes that have just been set. For example if we need to set an attribute like customer_id this done not work:

[code]

[2021-01-03 18:34] girardinsamuel commented on #289
I have seen it but is it only for serialization ?
I guess use `__visible__` instead of `__hidden__` would make more sense to the user. When you read the model code you immediately see what would be available to serialization

[2021-01-03 18:35] girardinsamuel commented on #289
I have seen it but is it only for serialization ?
I guess use `__visible__` instead of `__hidden__` would make more sense to the user. When you read the model code you immediately see what would be available once serialized

[2021-01-03 18:38] josephmancuso commented on #289
well if your table has 20 fields on it and you only want to hide sensitive info then you want to only specify the hidden attributes

[2021-01-03 18:40] girardinsamuel commented on #289
Yeah sure ! So would it makes sense to be able to use one OR the other ? In the code we could use the first of those two attributes which is not empty and warn user (in the doc) that only one of them should be defined.

[2021-01-03 18:52] #291 closed, assigned to nobody

[2021-01-03 18:54] josephmancuso commented on #289
yeah that's fine. I deff see a valid scenario for both. We do the same exact thing for the __fillable__ and __guarded__ attributes

[2021-01-03 20:25] josephmancuso opened #293 "where method should accept dictionary"
need to be able to do something like this:

[code]

[2021-01-03 20:32] #293 closed, assigned to nobody

[2021-01-03 21:15] #286 closed, assigned to nobody

[2021-01-04 02:29] josephmancuso commented on #288
Released v0.9.4 which had a bunch of fixes we've been working on

[2021-01-05 03:41] #285 closed, assigned to nobody

[2021-01-05 05:15] josephmancuso opened #296 "Add "joins" method to query builder"
Currently we have a way to join using the table name and the key relationships.

Something like this:

[code]

This is a bit cumbersome so we need to add a new method that fetches this information via the relationships defined on the model. So something like this:

[code]

What this should do is loop over each relationship in the parameter list and fetch the relationships keys from them and build

[2021-01-05 14:21] GeorgeJoLo commented on #296
Hello, I think that I can give it a try.
Need to be assigned?

[2021-01-05 15:34] josephmancuso commented on #296
Sure I assigned to you @GeorgeJoLo

[2021-01-05 15:36] josephmancuso commented on #289
For this task we need a new attribute on the model like `__visible__ = ["email", "name", "admin"]` which will be used in the  serialization method. This will act as the opposite of the `__hidden__` attribute used in the same method

[2021-01-05 16:22] girardinsamuel commented on #289
could do it if you want (I will have full day on Friday !) 💪

[2021-01-05 16:23] josephmancuso commented on #289
Sure it might be too simple for you so if its not taken by someone on Friday go for it :)

[2021-01-06 04:44] josephmancuso opened #297 "Add a way to set the deleted_at column used for soft delete scopes"
Right now the `deleted_at` column is hard coded, There should be a way to override this column name.

First step is adding a new attribute to this file `src/masoniteorm/scopes/SoftDeletesMixin.py`. The attribute should be called `__deleted_at__` along with a method to fetch this attribute `get_deleted_at_column()`:

[code]

Then the next set of changes are in this file: `src/masoniteorm/scopes/Sof

[2021-01-06 05:38] Marlysson commented on #297
[code]
The `get_deleted_at_column` should exist in Model file or the Model class should use the `SoftDeletesMixin` mixin ?

[2021-01-06 13:36] josephmancuso commented on #297
@Marlysson the model class inherits the `SoftDeletesMixin`. Thats how the global scopes get applied to the model. It will be able to be accessed on the model through the inheritance.

@Marlysson this is a pretty easy task I would wait to see if someone from the community that hasn't contributed yet take this issue.

[2021-01-06 14:22] Marlysson commented on #297
@josephmancuso it's fine.

[2021-01-06 14:28] Marlysson commented on #297
@josephmancuso That's right.
The inheritance by mixin should stay here?

https://github.com/MasoniteFramework/orm/blob/1.0/src/masoniteorm/models/Model.py#L57

Currently there just TimestampMixin.

[2021-01-06 19:23] tpow opened #298 "Has_one relationship"
I believe that has_one is helpful and should be implemented. Although it behaves similarly to belongs_to, it has a semantic difference, and I find it more readable, and informative in well designed models and databases. It should indicate where the foreign key is placed. Generally, belongs_to should be used in the model that has the foreign key and has_one should be in the other.

I believe part o

[2021-01-06 20:48] josephmancuso commented on #298
I wouldn't be against adding a has_one. I think its pointless. I've seen the creator of Laravel say that he's never even used the has_one relationship before. And I personally never have either. I can see the benefit of semantics but if its semantics alone you can just alias the import:

[code]

[2021-01-07 05:07] circulon opened #300 "updated_at timestamp is filled on create"
Just updated to 1.0.0 YAY!

Noticed an issue when using .create that the updated_at field gets the same timestamp as created_at when  creating a new model.

Haven't had time to investigate this yet  so I'm just adding it here

[2021-01-07 12:48] josephmancuso commented on #300
Thats correct and intended behavior. Thats how other ORM's I have used work as well

[2021-01-07 13:33] josephmancuso commented on #300
If the updated_at is set on create then when sorting by updated_at, this way the unmodified records will be placed between the modified ones when sorting by updated_at.

We could create a way to unset this behavior via a model attribute but I would advise against it. Is there a reason you would want this?

[2021-01-07 15:40] josephmancuso opened #301 "Add __original_attributes__ to model hydration"
Currently in hydration we hydrate the `__attribute__` dictionary. On any changes we hydrate the `__dirty_attributes__`. What we need to keep track of is the original attributes in a new `__original_attributes__` attribute that never changes and is populated with the original data from the hydration of models

[2021-01-07 15:53] josephmancuso commented on #301
Changes here:

https://github.com/MasoniteFramework/orm/blob/1.0/src/masoniteorm/models/Model.py#L287

and here:

https://github.com/MasoniteFramework/orm/blob/1.0/src/masoniteorm/models/Model.py#L270

[2021-01-07 21:31] josephmancuso opened #302 "find and get method should be able to take parameters to select only the columns"
We should be able to do something like this:

[code]

This would just be a shortcut for a select:

[code]

and really should just check if the parameter exists and if it does, pass to select method like this:

[code]

Apart of this feature we should prob also add support for a `__selects__` attribute that will be passed along. It should be in the same format as a normal select but a list:

[code]

[2021-01-07 22:15] circulon commented on #300
Hi Joe

Thanks for the clarification on this.  I was expecting the updated_at column to be empty (NULL) on initial record creation as this would indicate it had never been updated.

As this is expected and I now understand the reasoning behind it,  You can close this issue.

Thanks for the clarification and keep up the great work.

[2021-01-07 22:16] circulon commented on #300
Oops Didnt realise I could close this ;)

[2021-01-07 22:16] #300 closed, assigned to nobody

[2021-01-07 22:18] josephmancuso commented on #300
Yeah. When I researched this a bit I found some different opinions but most were sorta closed out and made it seem like they stayed with the default behavior. To get records that are not updated you can do something like this:

[code]

and records updated:

[code]

[2021-01-07 23:30] #301 closed, assigned to nobody

[2021-01-07 23:31] josephmancuso commented on #276
This is done

[2021-01-07 23:31] #276 closed, assigned to nobody

[2021-01-08 00:04] circulon commented on #300
Yeah I figured that out after you clarified the usage pattern

Cheers

[2021-01-08 18:26] tpow commented on #298
Wow, that was super fast. I appreciate it! This will make the transition to the new ORM easier.

Tim

[2021-01-08 18:44] josephmancuso commented on #298
Good lol. I built the ORM in a way where its super fast to fix issues and make new features so its good someone else noticed lol. I just need to do some more testing before I merge it in and release it

[2021-01-09 02:34] #298 closed, assigned to nobody

[2021-01-09 03:26] #252 closed, assigned to nobody

[2021-01-09 03:27] josephmancuso commented on #296
@GeorgeJoLo how are you doing with this task?

[2021-01-09 03:40] josephmancuso commented on #298
This is added in version 1.0.1

[2021-01-09 14:05] #289 closed, assigned to nobody

[2021-01-10 13:23] #296 closed, assigned to GeorgeJoLo

[2021-01-11 21:51] josephmancuso opened #307 "Support database URLs"
We should be able to somehow support database URL's

postgres://user:secret@localhost:5432/mydatabasename

We should be able to discuss the best way to approach this. Maybe we either have a function that returns the information in a correct format like:

[code]

Maybe this returns a dictionary.

Another option is maybe just adding a URL attribute, and if it exists, use that instead of all the othe

[2021-01-11 22:28] josephmancuso opened #308 "Support read and write connection"
Should be of lower priority but we should be able to support read and write connections. These should be set on the connection driver.

We will need to specify these in the query builder when creating the connection class as well as the schema class. But we should only specify it in those 2 classes so it should not be a big issue adding this.

The connection details should look something like this

[2021-01-14 12:16] girardinsamuel commented on #307
For Django there is `django-environ` package which provide an improved `env` helper:
[code]

[2021-01-14 12:19] girardinsamuel commented on #307
I like the first option but it has the downside to make it difficult to add other parameters such as :
[code]

[2021-01-14 12:29] girardinsamuel opened #309 "Create or update model from request"
I was wondering if there was a quicker way to create/update a model from request data

I have an an example here
https://github.com/girardinsamuel/pingcrm-masonite/blob/fix/3.0/app/http/controllers/UsersController.py#L86

where I want to create a user with data contained in request (which should be validated first). I would like to be able to write something like :
[code]
or
[code]
or
[code]

and

[2021-01-14 12:31] girardinsamuel commented on #308
I am not sure of understanding the use case here ? Is it for example to be able to read from a `database server 1` and to write on an other `database server 2` ?

[2021-01-14 12:35] girardinsamuel commented on #302
@josephmancuso
Just to help me understand:

This would return a list (or a single) of data instead of a Collection then ?
[code]

It's a bit like `pluck` on a Collection but instead you can add more than on field and it can be used in the query directly ?

[2021-01-14 13:09] josephmancuso commented on #308
@girardinsamuel Yes exactly. I haven't personally seen a need for that and I've built lots of applications both personally, for clients and for businesses but its a feature in Orator and Laravel's Eloquent and it would be fairly simple to do.

The only trick, and another requirement for this, is to make a sticky option which is a read and write to the same connection within the same request.

So i

[2021-01-14 15:03] josephmancuso commented on #302
That's correct. It's not really like a pluck it's just a select. These 2 code and use cases are the same:

[code]

and

[code]

[2021-01-14 15:09] girardinsamuel commented on #302
I had serialization use cases in mind because I worked on it lately and was thinking about this:

we can use visible or hidden to define parameters to use in serialized representation, but what if this time we want a different list of parameters to be serialized ? I was thinking about
[code]

but here we this PR we could do:
[code]

[2021-01-16 15:34] josephmancuso commented on #153
This should used predefined snippets as well as be able to register a new HTML snippet:

This is for bootstrap:

[code]

And tailwind:

[code]

We should also be able to register a new snippet from view in Masonite.

Something like:

[code]

[2021-01-18 03:11] josephmancuso opened #311 "New models are updating when they should be creating"
When you new up a model that has no data inside it it is updating. These models should be creating.

For example, when you do something like this:

[code]

It is currently doing an update. But failing because there is nothing to update. This should instead be doing an insert. We can check if the model is loaded or not loaded and either update or create

[2021-01-18 03:17] #311 closed, assigned to nobody

[2021-01-18 04:02] josephmancuso opened #313 "Add Bulk Insert"
Should be a way to insert multiple records at once. This will simply create a insert statement like this:

[code]

This will produce a query like this:

[code]

[2021-01-20 17:40] egwald opened #315 "Postgres querybuilder"
Hi, I use masonite3 with the new ORM with PostgreSQL 13.1 on x86_64-pc-linux-musl, compiled by gcc (Alpine 9.3.0) 9.3.0, 64-bit.
Now I try:

[code]

and the I have the error:

#1 ..lNG/venv/lib/python3.9/site-packages/masoniteorm/connections/PostgresConnection.py:162
                     if "SELECT" in cursor.statusmessage:
                         return cursor.fetchall()
                     ret

[2021-01-20 19:10] josephmancuso commented on #315
Looks like the issue is that it is compiling as `"information_schema.columns"."table_name"` when it should be `information_schema.columns."table_name"`

[2021-01-20 19:11] josephmancuso commented on #315
Should just be a fix inside the `PostgresGrammar ` class I think.

[2021-01-20 19:11] josephmancuso commented on #315
@girardinsamuel thoughts?

[2021-01-20 22:51] Marlysson commented on #315
@josephmancuso I've searched in QueryBuilder class and I didn't found... Shouldn't we implement in which schema the table should be applied? like:

[code]
or should we split the content ( "information_schema.tables" ) by dot and apply into select_format method..

[2021-01-20 23:05] Marlysson commented on #307
About the ideas:

In django we set the "default" key to define all data in dictionary from connection.
We use the [dj-database-url](https://github.com/jacobian/dj-database-url/blob/master/dj_database_url.py) to parse the url... then it return the dictionary and put all it in "default" key back. So The option of define just the url and make this lib that we will build return all dictionary necessar

[2021-01-21 00:16] girardinsamuel commented on #307
Yes django-environ is using dj-database-url internally ;)

[2021-01-21 01:48] josephmancuso commented on #307
Hm maybe we can have a. mix then. I see the benefits of having both

[2021-01-21 03:33] #315 closed, assigned to nobody

[2021-01-21 03:41] josephmancuso commented on #315
@egwald this is fixed in version 1.0.5

[2021-01-21 03:46] josephmancuso commented on #309
Not entirely sure how this would work. This would need to be generic. I think the solution here is to just pass the dictionary from whatever object here like in your example:

[code]

The other option would be to set a generic method on the object like `all()` or something which would be more trouble than its worth.

Best approach here is to just make a method on the model that converts the model

[2021-01-21 03:46] #309 closed, assigned to nobody

[2021-01-21 09:15] girardinsamuel commented on #309
I am totally okay with this approach:
[code]
- request.only is already available
- I guess we just have to handle arguments of create() method to accept a dict ? (i did not check how it is done now)

[2021-01-21 10:34] goyal-aman opened #317 "Syntax mistake in masonite orm documentation"
While going through Masonite ORM, I noticed some syntax mistakes in `config/database.py` code block.

[code]

[2021-01-21 13:58] Marlysson commented on #309
@girardinsamuel This feature would be similar with RequestForm from Laravel?

[2021-01-21 17:24] girardinsamuel commented on #309
@Marlysson not sure what it is exactly, but on a Laravel code I have seen this:
https://github.com/inertiajs/pingcrm/blob/master/app/Http/Controllers/UsersController.php#L94
it's short so I like it and I guess for a basic usage it should not be hard to do it with masonite

[2021-01-21 17:28] girardinsamuel commented on #313
@josephmancuso maybe we should use this name:
[code]
as we are using `User.create()` for one record

[2021-01-22 05:12] josephmancuso commented on #313
Yeah I think that's fine.

[2021-01-22 06:48] circulon opened #322 "Add Pivot Table support (belongs_to_many)"
I see that in Orator there is a  facility for working with Pivot Tables
https://orator-orm.com/docs/0.9/orm.html#working-with-pivot-table

Is this a feature of Masonite Orm using the current decorators? or maybe @morph_to (which i'm not sure I understand anyway)

My investigations have only pointed out that I will have a fun time making the traversal work.

Any pointers/snippets  would be greatly

[2021-01-23 14:33] josephmancuso commented on #322
There is actually currently no way to work with many to many tables at the moment through a pivot table.

morph_to is related to polymorphic tables

[2021-01-23 14:40] josephmancuso commented on #322
Changing this ticket from a question to a feature request

[2021-01-23 15:16] josephmancuso commented on #322
## Feature Specification

Need to add support for `belongs_to_many`. This relationship name is the same as orator and should work similiar. This relationship will be for pivot table support

We should be able to have a table structure like the following:

[code]

We should then be able to go from `table1->table2` through the pivot table.

In the models it should look like this:

[code]

**It shoul

[2021-01-23 16:04] josephmancuso opened #323 "Missing where_like method on query builder"

[2021-01-23 16:16] #323 closed, assigned to nobody

[2021-01-24 21:10] #322 closed, assigned to nobody

[2021-01-24 21:19] josephmancuso commented on #322
@circulon Took me all weekend to make sure I added all the features of other ORM's but this is now in release 1.0.7

https://orm.masoniteproject.com/models#has-many-many-to-many

[2021-01-25 05:02] jpmateo022 opened #327 "Fields in the __hidden__ variable are being returned."
May I know if we also applied the __hidden__ which indicates what fields should not be returned in the query? My password field shows up after I call the create method.

[2021-01-25 05:14] jpmateo022 commented on #327
Update:

It seems it's not totally not working. I think this is can be also a security issue since tables that contains password fields might get exposed.

[2021-01-25 09:10] girardinsamuel commented on #327
@jpmateo022 `__hidden__` attribute on model is here to hide fields when serializing your model:

[code]

This does not remove the fields from query

[2021-01-25 11:17] jpmateo022 commented on #327
Yep even I serialized the hidden fields are still showing.

[2021-01-25 13:11] jpmateo022 commented on #313
I think  ```User.create([])``` looks good similar to Eloquent. Though I really hope we have this soon. It's actually a very critical feature to have since putting create() inside a loop is a bad practice and will cause performance problems. Masonite ORM doesn't seem to have a way to construct a raw SQL Insert query which can be an alternative solution or workaround.

[2021-01-25 13:15] josephmancuso commented on #313
@jpmateo022 Ok I can work on this tonight. Both those features

[2021-01-25 13:15] josephmancuso opened #328 "Add Raw queries to query builder and schema builder"

[2021-01-25 13:16] jpmateo022 opened #329 "Multiple Group By"
I would like to request if we can have multiple fields in group_by. As of now when I try

[code]

I get this error.
![image](https://user-images.githubusercontent.com/26633918/105710679-674d2c80-5f52-11eb-8083-e0fce764198e.png)
![image](https://user-images.githubusercontent.com/26633918/105710775-877ceb80-5f52-11eb-99f6-d722e980b8c6.png)

[2021-01-25 13:23] girardinsamuel commented on #327
But that was not the goal of this `__hidden__` attribute which is working correctly
[code]

Please check this open issue https://github.com/MasoniteFramework/orm/issues/302 as I think is related to what you would like to have. If not could you add more details here to explain the behaviour you would like to have (with code examples) ?
Thanks 👍

[2021-01-25 13:43] josephmancuso commented on #329
Agreed

[2021-01-25 13:45] josephmancuso commented on #302
Apart of this feature we should prob also add support for a `__selects__` attribute that will be passed along. It should be in the same format as a normal select but a list:

[code]

when the model first boots up it should pass these selects to the query builder

[2021-01-25 13:57] jpmateo022 commented on #313
@josephmancuso Thank you so much!

[2021-01-25 19:08] girardinsamuel opened #330 "Querying trashed model does not work"
On a soft deletable User model I get this:

[code]
I observe also this error on the line shown in [ORM documentation](https://orm.masoniteproject.com/models#soft-deleting):
[code]

But the soft deletes mixin is working otherwise. For example I can do this:
[code]

Here is my model: https://github.com/girardinsamuel/pingcrm-masonite/blob/fix/3.0/app/User.py

[2021-01-25 19:21] josephmancuso commented on #330
interesting. We may need to also bind the macro to the current model as well 🤔

[2021-01-25 19:22] josephmancuso commented on #330
Or another solution would be to append the pass through to the model which append the `__passthrough__` attribute. Either solution needs to be entirely done in that `SoftDeleteMixin` class. (or maybe even the `SoftDeleteScope` class)

[2021-01-25 22:29] josephmancuso commented on #327
I tested this myself and cannot replicate. Will close for now but will reopen if there is additional information

[2021-01-25 22:29] #327 closed, assigned to nobody

[2021-01-26 01:13] #313 closed, assigned to nobody

[2021-01-26 01:20] #328 closed, assigned to nobody

[2021-01-26 04:42] circulon commented on #322
Awesome Work!!  Thanks for being so responsive!!

[2021-01-26 04:43] #329 closed, assigned to nobody

[2021-01-26 04:44] josephmancuso commented on #322
@circulon welcome :)

[2021-01-26 04:47] josephmancuso commented on #329
@jpmateo022 added a bunch of different ways to order by . These are in version 1.0.8

[code]

Here is full docs: https://orm.masoniteproject.com/query-builder#order-by

[2021-01-26 05:04] #302 closed, assigned to nobody

[2021-01-26 05:08] josephmancuso commented on #327
@girardinsamuel @jpmateo022 I think what you might be interested in is using `__selects__` on your models https://orm.masoniteproject.com/models#selecting

[2021-01-26 09:26] jpmateo022 opened #337 "Bug in Bulk Create"
I tried passing a list with a dictionary in creating a method to test the bulk create but its throwing this error.

[code]

Example Code
[code]

[2021-01-26 09:44] girardinsamuel commented on #337
Could you give us those details ?
- your devices create table migration
- your Device model file (at least the attributes you defined on the model e.g. `__fillable__`)

Thanks 👍

[2021-01-26 09:50] jpmateo022 commented on #337
I think it only accepts two keys per dictionary. I also tried the fillable variable and still failed.

Scenario 1: Two keys per dictionary in a list
Success:
[code]
![image](https://user-images.githubusercontent.com/26633918/105828904-a638bc00-5ffe-11eb-99fa-314ad350aed3.png)

Scenario 2: More than two  keys per dictionary in a list
Failed
[code]
![image](https://user-images.githubusercontent.com/

[2021-01-26 09:52] girardinsamuel commented on #337
Yeah that's the issue, that is why I was wondering what did you put in `__fillable__` parameters of your model ? You should put all fields that you want to use when calling create, it's mandatory.

[2021-01-26 09:59] jpmateo022 commented on #337
Yep I put all the fields in the __fillable__ then made the code Device.create()
[code]

Then the error message changed
[code]

[2021-01-26 10:01] jpmateo022 commented on #337
I tried inserting the list items individually and it work.

[2021-01-26 10:09] girardinsamuel commented on #337
Sorry I did not catch that before but :
- on an ORM model you should use: `Devices.bulk_create([])`
- on the query builder you should use: `builder.create([])`

Could you try 😉  ?

[2021-01-26 10:14] jpmateo022 commented on #337
Its kinda weird that its throws different errors.

for ORM
[code]
message: "not all arguments converted during string formatting"

for Query Builder
[code]
message: "dictionary update sequence element #0 has length 13; 2 is required"

[2021-01-26 10:16] girardinsamuel commented on #337
Yeah that's weird, for the second one did you let
[code]
on your model ? because it looks that the creation is authorized only with two fields.

[2021-01-26 10:18] girardinsamuel commented on #337
@josephmancuso could you confirm this is the correct usage ?

[2021-01-26 11:20] jpmateo022 commented on #337
For bulk_create at QueryBuilder.py:

It seems the bug is happening in this block of code.

[code]

So my work around for now is this:

[code]

[2021-01-26 12:57] josephmancuso commented on #337
I figured out the issue. I was testing on sqlite and this looks like an issue with MySQL (and probably postgres)

This is fixed in version 1.0.11.

Also there was an issue with the documentation as well.

[code]

is NOT the proper usage of bulk creating. It was documented wrong. It should be `bulk_create`

[code]

This is fixed in v1.0.11. This is what you get for coding and documenting at midnigh

[2021-01-26 12:57] #337 closed, assigned to nobody

[2021-01-26 13:10] girardinsamuel commented on #309
I confirm it's working with existing masonite orm features
Here is a real life example
https://github.com/girardinsamuel/pingcrm-masonite/blob/fix/3.0/app/http/controllers/UsersController.py#L90

[2021-01-27 13:12] josephmancuso opened #338 "group by should act same as order by with column"
We recently added a way to specify multiple columns in an order by and specify the directions like this:

[code]

We should be able to do the same with group_bys for consistency:

[code]

[2021-01-27 15:43] prryplatypus opened #339 "async support"
Hi there! 👋

Just thought I'd ask if adding [async](https://docs.python.org/3/library/asyncio.html) support is planned for this project anytime in the future. There seems to be a wide range of ORM packages for sync projects, but those which aren't sync are usually left to interact with the "raw" DB directly by using libraries like [asyncpg](https://github.com/MagicStack/asyncpg), [aiopg](https://g

[2021-01-27 16:11] josephmancuso commented on #339
@prryplatypus there is no plan for it. Mainly for 2 reasons:

1.  I'm not familiar with how async ORM's would handle queries
2. Because of 1, I'm not sure how much effort it would be to maintain both.

If you would like to explore what the effort would be to add async support to this project I would be more than willing to listen, even help you during that discovery phase.

It could be as easy as

[2021-01-27 16:29] prryplatypus commented on #339
Understandable! I'm not _very_ familiar with all of the intrinsics of asynchronous code, but it is something I do use pretty much every day. In general most of the SQL wrappers out there are pretty much a drop-in replacement of the non-async versions, except for having to prepend the `async` keyword in function definitions which have asynchronous operations in them and then prepending keywords lik

[2021-01-27 16:29] #339 closed, assigned to nobody

[2021-01-27 16:33] josephmancuso commented on #339
Sounds great. Anybody reading this in the future, I am open to the idea but this idea needs to be explored more by someone who is more familiar with async ORM's than I am, or someone who can answer some open questions I have.

This is not a simple feature request so I will need to write a feature product specification document for this feature which takes a lot of time to discover and create.

@gi

[2021-01-27 17:01] girardinsamuel commented on #339
Hello there !
No I am not an async expert either and I agree with what has already been said 👍

[2021-01-27 17:06] Marlysson opened #340 ""YEAR" type in SQLitePlatform missing in Blueprint"
There's no year method in Blueprint to "year" type and "YEAR" database type in SQLite.
Mapping it as VARCHAR(4) or INTEGER?

[2021-01-27 17:12] jpmateo022 opened #341 "Bug in pagination does not apply where clause"
Hi,

 It seems the pagination doesn't apply the where clause wherein it returns the total items in the database.

The total field value should only be 9.

![image](https://user-images.githubusercontent.com/26633918/106027163-96f06600-6105-11eb-8cb5-431d3f4c262f.png)

The validation I made via manual SQL query
![image](https://user-images.githubusercontent.com/26633918/106027327-c1422380-6105-11eb-

[2021-01-27 18:19] josephmancuso commented on #340
You are right. It should map to a varchar for sqlite as there is no YEAR datatype in SQLite.

[2021-01-27 18:22] josephmancuso commented on #341
Yup issue is right here on line 1322:

https://github.com/MasoniteFramework/orm/blob/ca8485976443a41fbe363afecf6e948458bf658c/src/masoniteorm/query/QueryBuilder.py#L1322-L1325

[2021-01-27 23:27] #338 closed, assigned to nobody

[2021-01-27 23:59] #341 closed, assigned to nobody

[2021-01-28 00:15] josephmancuso opened #344 "Improve aggregate functions"

[2021-01-28 03:07] #344 closed, assigned to nobody

[2021-01-28 04:52] #340 closed, assigned to nobody

[2021-01-28 04:53] josephmancuso commented on #340
@Marlysson I foud a few other issues with the sqlite tests. Hopefully it doesn't cause too many merge conlficts with your doc string branch

[2021-01-28 04:55] Marlysson commented on #340
Ok. After I will pull all changes

[2021-01-29 08:22] jpmateo022 opened #346 "serialize causing: AttributeError: 'NoneType' object has no attribute 'split'"
Have anyone experiencing this? It seems it happens in serialize function

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/gunicorn/workers/gthread.py", line 271, in handle
    keepalive = self.handle_request(req, conn)
  File "/usr/local/lib/python3.8/dist-packages/gunicorn/workers/gthread.py", line 320, in handle_request
    respiter = self.wsgi(environ, resp.sta

[2021-01-29 16:28] Marlysson commented on #346
Which query are you using before the call of serialize function?

[2021-01-29 19:11] josephmancuso opened #347 "Cannot set string as column default in schema"

[2021-01-30 03:18] #347 closed, assigned to nobody

[2021-01-30 03:18] #330 closed, assigned to nobody

[2021-01-30 03:29] josephmancuso commented on #346
This doesn't look like an issue with the orm but an issue with Masonite setting the response code. Can we see a code example of your controller method?

[2021-01-30 03:37] josephmancuso opened #350 "Add add_select query"
A really cool feature of other orms is the ability to add a select query in place of the column name so you can select based on a relationship or based on another query.

An example of this type of query is:

[code]

This would select the order code plus the number of skus the order has and return the `code` and `sku_count`.

In the ORM this should look something like:

[code]

[2021-01-30 06:41] #350 closed, assigned to nobody

[2021-01-30 13:47] jpmateo022 commented on #346
Hi, sorry late reply. This is what I'm calling after the query.

[code]

[2021-01-30 14:06] girardinsamuel opened #352 "Add truncate() on models too"
Right now we can do
[code]
Would be cool to be able to do it on the model
[code]

[2021-01-30 15:03] josephmancuso commented on #346
@Marlysson can you replicate this? This doesn't throw that error. It looks as if the response cannot get a status. in Masonite. If anything it looks like a Masonite issue

[code]

[2021-01-30 15:38] Marlysson commented on #346
Sure. I'll try this.

[2021-01-30 15:43] jpmateo022 commented on #346
Thanks Guys :)

[2021-01-30 18:34] Marlysson commented on #346
I can't replicate this error. @jpmateo022 Can you provide more about your workflow until the final response?

With this snippet everything works fine:

[code]

[2021-01-31 05:03] josephmancuso commented on #264
Looking at this now i don't think the FieldExpression class is the way to go.

For now i added the `Raw` expression.

https://orm.masoniteproject.com/query-builder#raw-queries

[code]

[2021-01-31 05:03] #264 closed, assigned to nobody

[2021-01-31 18:25] girardinsamuel commented on #297
Well actually I tried it out and it's not that simple (at least for me)
The tests for soft delete are done at query builder level, without model involved, so `builder._model` is None and we cannot fetch the name of the deleted_at column. => The only place where it has been defined is when calling `soft_deletes()` in the migration file (where the default value "deleted_at" can be overriden).

[code

[2021-02-01 05:27] jpmateo022 commented on #346
Hi, I'm moving this to the masonite framework.

https://github.com/MasoniteFramework/masonite/issues/413

[2021-02-01 05:30] #346 closed, assigned to nobody

[2021-02-01 15:34] josephmancuso opened #356 "add with_count() to query query builder relations"
We should be able to get the number of related records easily using a `with_count('relation')` method.

The code would look something like this:

[code]

This should perform the below query:

[code]

We should then be able to get the count of the paid for orders:

[code]

[2021-02-01 16:53] Marlysson commented on #356
This would be as a @scope ?

[code]

[2021-02-02 04:34] jpmateo022 opened #357 "MySQL not getting last inserted ID on creates"
Hi, I would like to request to add a function that returns the id generated from the create or insert. As of now the create function returns the created record but the id is 0.

[2021-02-02 13:12] josephmancuso commented on #357
@jpmateo022 can you give me a code example? what database are you using? create should be returning the correct inserted ID already and should not be 0

[2021-02-02 13:52] josephmancuso opened #358 "has_one relationship not working as expected."
**Describe the bug**
`has_one` relationship not working as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a model
2. use the `with_` method to get the has one related model.
3. You will hit a None type issue if one of the records are None
4. One of the records should be NULL in order to reproduce the None query bindings

**Expected behavior**
Should exclude the None types f

[2021-02-02 15:13] Marlysson opened #359 "Enum in migration not working (Postgres)"
**Describe the bug**
A migration using enum type in postgres database isn't working.

**To Reproduce**
1. Create a migration with `table.enum('gender', ['male', 'female'])`
2. Run migration

**Expected behavior**
Constraint check is have to create normally.

**Screenshots**
![image](https://user-images.githubusercontent.com/4117999/106619991-e85a8400-654f-11eb-9754-3fb668cce797.png)

**What databa

[2021-02-02 15:16] josephmancuso commented on #359
I think the proper syntax is:

[code]

[2021-02-02 15:30] josephmancuso commented on #359
Actually no. This is the proper way to create enums in Postgres we can do:

[code]

[2021-02-02 15:33] josephmancuso commented on #359
Another way all in one line and probably easier is to do this:

[code]

This just involves changing the `male, female` syntax to `genders = 'male' OR genders = 'female'`

[2021-02-02 15:35] josephmancuso commented on #359
Lastly we can also do this. This requires to smallest change:

[code]

This just requires adding `{column} IN ` to the query

[2021-02-02 15:35] josephmancuso commented on #359
postgres has so many damn ways to do this

[2021-02-02 15:47] Marlysson commented on #359
This seems the better way:

I have a postgres installed, I can test against a database this behavior. Or do you think define this as a `good first issue` issue?

[2021-02-02 16:04] josephmancuso commented on #359
no this needs to be fixed ASAP

[2021-02-02 17:12] jpmateo022 opened #360 "has_many not returning related records"
It seems there is a bug in @has_many. it's not returning the related records

my code

[code]

[2021-02-02 17:13] josephmancuso commented on #360
your keys don't look right to me. what does the pivot table look like?

[2021-02-02 17:14] josephmancuso commented on #360
Can I see the records in the related tables? will need to reproduce this

[2021-02-02 17:15] jpmateo022 commented on #360
I have a two table

Jobs Table has ud_job_id field which is unique while in Workflows table ud_job_id field is a foreign table that can be referenced to multiple records.

This is actually working when Im using orator before.

[2021-02-02 17:16] josephmancuso commented on #360
Could you share the query that is running?

[2021-02-02 17:17] jpmateo022 commented on #360
This is the query Im currently using

[code]

The device, run, and schedule are using belongs_to and its working perfectly but when I check the workflows attribute its is an empty value. Only the workflows uses the has_many

[2021-02-02 17:21] josephmancuso commented on #360
Ok thanks will try to replicate 🤔

[2021-02-03 04:23] josephmancuso commented on #357
Tried to replicate this but could not. Will need more information on the code you're running

[2021-02-03 04:23] #358 closed, assigned to nobody

[2021-02-03 04:50] jpmateo022 commented on #360
Hi @josephmancuso, Were you able to replicate this?

[2021-02-03 04:51] josephmancuso commented on #360
No. My has many relationship was returning records

[2021-02-03 04:52] josephmancuso commented on #360
anymore info you can supply here?

[2021-02-03 05:18] jpmateo022 commented on #360
Sorry I need to mask my org name hehe. Anyways,

The relationship of the table is **jobs(one)** to **workflows(many)**

This is my jobs table

![image](https://user-images.githubusercontent.com/26633918/106701049-faf0be00-6620-11eb-8042-e11c157939ad.png)

![image](https://user-images.githubusercontent.com/26633918/106700916-c1b84e00-6620-11eb-83e3-853c10b7f252.png)

This is the workflows table con

[2021-02-03 05:34] josephmancuso commented on #360
Perfect. With this info i was able to reproduce it. Will be pushing a fix shortly

[2021-02-03 05:39] josephmancuso commented on #360
The issue actually was that the has many was not working properly when the foreign key was not the primary key of the model .. not sure how i missed that

[2021-02-03 05:40] #360 closed, assigned to nobody

[2021-02-03 05:50] josephmancuso commented on #360
This is fixed in V1.0.20

[2021-02-03 06:12] jpmateo022 commented on #360
Thank you very much for the fast response.

[2021-02-03 08:53] jpmateo022 commented on #259
This is actually a good feature to add sometimes I have this kind of scenario in my app.

[2021-02-03 08:54] jpmateo022 commented on #352
Agree :)

[2021-02-03 22:44] josephmancuso commented on #357
@jpmateo022 do you have any code snippets? the `create({..})` should not be returning 0 for the ID.

[2021-02-03 22:46] josephmancuso commented on #356
no it should be a select sub query now that we have this feature.

[2021-02-03 22:46] josephmancuso commented on #356
https://orm.masoniteproject.com/query-builder#select-subqueries

[2021-02-03 22:47] josephmancuso commented on #352
This feature is really simple. The truncate queries just need to be added to the query grammars. Then a truncate method needs to be added to the query builder, as well as the __passthrough__ on the Model class.

[2021-02-03 22:56] josephmancuso commented on #359
Fixed in #363

[2021-02-03 22:56] #359 closed, assigned to nobody

[2021-02-04 09:24] jpmateo022 opened #366 "Migration change() bug"
Hi it seems there is a bug in change() function for migration.

![image](https://user-images.githubusercontent.com/26633918/106871997-d0c8fa00-670d-11eb-9481-722be18012f1.png)

Here is my migration script.
[code]

**What database are you using?**
- MySQL

[2021-02-04 09:43] jpmateo022 opened #367 "Bug in seeder"
Hi I encounter a bug in seeder

I simply followed the guide but when I execute it. It goes to this.

[code]

![image](https://user-images.githubusercontent.com/26633918/106874259-56e64000-6710-11eb-830b-086a9cf696b2.png)

![image](https://user-images.githubusercontent.com/26633918/106874379-77ae9580-6710-11eb-9429-74c949a1e25b.png)

[2021-02-04 12:41] girardinsamuel commented on #367
Did you create this seed file with `masonite-orm seed AppConfig` ?

[2021-02-04 12:46] girardinsamuel commented on #367
I have reproduced your problem and found two issues:
- for now seeding a particular file does not support camelcase convention  => for now you should run `seed app_config`
- also the import inside the generated seed file is wrong (it should be `from masoniteorm import Seeder` and not `from masonite.orm import Seeder`.

If you correct those two things it will work.

[2021-02-04 12:54] jpmateo022 commented on #367
Nice! Thanks :)

[2021-02-04 12:55] girardinsamuel commented on #367
I made a PR to fix the second issue. for the first one, the command indicates that a table name should be given and this is working.

I wonder if we should add the possibility to provide a model name instead ? 🤔

[2021-02-04 13:14] jpmateo022 commented on #357
Ahh sorry, I'll get a sample once I'm available.

[2021-02-04 13:29] josephmancuso opened #370 "Fix error with sqlite importing at the top of the connection class"
**Describe the bug**
Not all python distributions ship with the sqlite package apparently so when the sqlite package is not installed, This ORM throws sqlite exceptions

**To Reproduce**
Steps to reproduce the behavior:
1. Install a python distribution without sqlite installed
2. Throwing error

**Desktop (please complete the following information):**
 - OS: Centos

**Additional context**
- Fix is

[2021-02-04 13:51] josephmancuso commented on #367
To do this we need to use the inflection library like we do with models. There a method to convert something like `AppConfig` to `app_config`

[2021-02-04 13:52] #367 closed, assigned to nobody

[2021-02-04 14:24] jpmateo022 commented on #366
Yep Im using MySQL

[2021-02-04 14:26] jpmateo022 opened #371 "big_increments not treated as primary key"
In migration, big_increments()is not treated as the primary key, it will require a .primary() to mark it as primary white the increment() is treated as the primary key.

[2021-02-04 14:30] jpmateo022 opened #372 "Request to add rename_column feature for schema builder"
In orator ORM, it has a rename_column but checking the docs it seems the feature is not yet available.

[2021-02-04 14:47] josephmancuso commented on #372
This just isn't documented I guess 🤔

[2021-02-04 14:48] josephmancuso commented on #372
It's actually `rename` not `rename_column`

[2021-02-05 03:06] jpmateo022 opened #373 "Create Schema If Not Exists feature"
Hi, I would like to request if you can add a feature that creates the schema or table if not exists which is similar to the drop if exists. Thanks :)

[2021-02-05 04:46] josephmancuso commented on #372
Added to docs https://orm.masoniteproject.com/schema-and-migrations#changes-and-rolling-back-migrations

[2021-02-05 04:46] #372 closed, assigned to nobody

[2021-02-05 04:58] #370 closed, assigned to nobody

[2021-02-05 04:58] #371 closed, assigned to nobody

[2021-02-05 05:13] josephmancuso commented on #366
Fixed. Will release

[2021-02-05 05:13] #366 closed, assigned to nobody

[2021-02-08 00:50] meideros commented on #259
Exactly it will look like this
https://github.com/staudenmeir/eloquent-has-many-deep

[2021-02-10 04:20] circulon opened #377 "select_raw builds invalid syntax if not last in chain"
**Describe the bug**
If using select_raw, the statement must be the last statement in the chain or the compiled query in syntactically invalid

**To Reproduce**
[code]
Produces
``
SELECT max(updated_at) as test(SELECT MAX("different_table"."updated_at") AS updated_at FROM "different_table" WHERE "different_table"."some_id" = '?') as other_test FROM "some_table"
``

Which you can note there is no c

[2021-02-10 04:54] circulon opened #378 "Caanot build arbitrary Queries without "from" for root Select"
**Describe the bug**
When using the query builder there must be a "table" or "from_" in the root of the query even if it is not used

**To Reproduce**
[code]
Should build a query along the lines of
[code]
Instead Throws an exception ending with
[code]

Note: Adding the following to the beginning of the chain compiles the query as expecetd
[code]

**Expected behavior**
A valid query should be compi

[2021-02-10 05:28] josephmancuso commented on #378
I don't think this is a bug? The root starting query builder needs a table, no?

[2021-02-10 05:38] josephmancuso opened #380 "Base Models overriding table name"
**Describe the bug**
If you have a base model it is overriding the table name of the child model.

**To Reproduce**
Steps to reproduce the behavior:
1. create a `BaseModel` class.
2. Inherit it onto your `User` model
3. Make a query call. It will use `base_models` table instead of `users` table

[2021-02-10 05:44] josephmancuso commented on #380
Cannot replicate this

[2021-02-10 05:45] josephmancuso commented on #380
[code]

[2021-02-10 05:47] josephmancuso commented on #380
@resmo

[2021-02-10 05:50] josephmancuso commented on #380
maybe you imported the basemodel accidentally? can I see maybe where you imported this user model you were talking about?

[2021-02-10 06:24] circulon commented on #378
Not necessarily a bug but definitely an issue

examples

Select NOW();
Output is the current date time
To get this same functionality with current QueryBuilder you have to do the following or equivalent
Select NOW() from some_valid_table LIMIT 1;
Note: in this case without the LIMIT you will end up with a collection of the the date for the number of rows in the table specified which is obviously u

[2021-02-10 23:49] josephmancuso commented on #380
Will close this issue until more context is given

[2021-02-10 23:49] #380 closed, assigned to nobody

[2021-02-11 23:03] josephmancuso commented on #378
Writing the query out like this makes more sense:

[code]

[2021-02-11 23:03] josephmancuso commented on #378
Not all databases support this .. 🤔

[2021-02-12 01:29] #378 closed, assigned to nobody

[2021-02-12 01:31] josephmancuso commented on #378
@circulon Fixed this but i didn't add support to limits, wheres or group bys or anything .. I couldn't find any query examples where you would select without a table and have a limit, where or group bys. I can add this back if this is valid syntax but everything I read says selecting without a table isn't even really valid SQL lol. Maybe you can help me

[2021-02-12 01:45] #377 closed, assigned to nobody

[2021-02-12 01:53] #297 closed, assigned to nobody

[2021-02-12 02:11] jpmateo022 opened #383 "default() not working"
I was adding a new field to my existing table and it has a default value.

![image](https://user-images.githubusercontent.com/26633918/107722728-8bfb1f80-6d1a-11eb-8978-3660f1ae4e7e.png)

But it was created in MySQL like this.
![image](https://user-images.githubusercontent.com/26633918/107722741-93bac400-6d1a-11eb-9635-b073ce34cd58.png)

[2021-02-12 02:12] josephmancuso commented on #383
Whats your database?

[2021-02-12 02:12] josephmancuso commented on #383
oh sorry you said mysql

[2021-02-12 02:12] jpmateo022 commented on #383
MySQL

[2021-02-12 02:22] josephmancuso commented on #383
Thanks I see the issue. WIll push up a fix shortly

[2021-02-12 02:23] jpmateo022 commented on #383
Cool! Thanks :)

[2021-02-12 02:51] #383 closed, assigned to nobody

[2021-02-12 02:53] josephmancuso commented on #383
Released a fix. 1.0.26

[2021-02-12 06:28] circulon commented on #378
Yeah that was probably a poor example to explain the point.

Apologies for not being more concise

I'm using Query builder very muck like the original example to add multiple subqueries with aliases.
These are metadata style queries for caching and so dont actually need a model as such.
In some cases I have 7-10 subqueries to get the metadata from 7+ tables in a single query.
On a purely coding le

[2021-02-12 07:42] jpmateo022 opened #385 "Feature Request to add execution of store procedures, and functions"
Hi, I would like to request if possible to add a function in the orm that will execute a store procedure, and function.

Thanks!

[2021-02-12 09:52] jpmateo022 commented on #357
Hi, Here is the response I got after using create

![image](https://user-images.githubusercontent.com/26633918/107753452-0d72a200-6d5b-11eb-9a26-be40a22c5d25.png)
![image](https://user-images.githubusercontent.com/26633918/107753515-2418f900-6d5b-11eb-93ef-14d686b6e158.png)

[2021-02-12 13:07] josephmancuso commented on #385
hmm probably not. Why would you like it to look like? If you want to do a stored procedure it probably makes more sense to do a raw query.

Do you have any code snippets on what you would think would work? Not totally against the idea but it's going to require a new data structure in the project like a new `Procedure` class .

Do you have any examples of some stored procedures you're trying to con

[2021-02-12 15:40] jpmateo022 commented on #385
I actually want to trigger a store procedure that generates a report when my create, update, and delete operations in my code is triggered. Though yeah, I think I can use the raw query but you might consider it in the future :)

[2021-02-12 15:45] jpmateo022 commented on #357
Much better output

![image](https://user-images.githubusercontent.com/26633918/107789254-542cc000-6d8c-11eb-8430-06ef4cad10b7.png)

[2021-02-12 15:46] josephmancuso commented on #357
hmm that's really weird .. And id is deff an auto incrementing primary key right?

[2021-02-12 15:47] jpmateo022 commented on #357
Yep it is

![image](https://user-images.githubusercontent.com/26633918/107789499-a1a92d00-6d8c-11eb-9771-a2f14823b067.png)

[2021-02-12 15:48] jpmateo022 commented on #357
Additional Info:
![image](https://user-images.githubusercontent.com/26633918/107789590-c1d8ec00-6d8c-11eb-96a9-574ee8040884.png)

[2021-02-12 17:06] josephmancuso commented on #385
Oh I see so you're just executing on you don't want to build one.

Yeah I think for now the best way to do it would be raw query. It would literally do the same thing as we would just be passing the query right off to the connection class.

[2021-02-12 17:06] #385 closed, assigned to nobody

[2021-02-12 17:08] josephmancuso commented on #357
Ok thanks I'll try to replicate with this now. Maybe something to do with the big int ..

[2021-02-12 17:11] josephmancuso commented on #357
What is the value of `data` here?

![image](https://user-images.githubusercontent.com/26633918/107753515-2418f900-6d5b-11eb-93ef-14d686b6e158.png)

[2021-02-12 17:28] #357 closed, assigned to nobody

[2021-02-12 17:30] josephmancuso commented on #357
Thanks! Was able to use this info and reproduce and fix. This is fixed in v1.0.27

[2021-02-14 00:04] Marlysson commented on #356
@josephmancuso Taking a looking here, the method is `with_count('relation')` then the method `with_count('paid_for_orders')` implies that relation is just `orders` or is need to be done a 'split' to get the relation ?

[2021-02-14 00:12] Marlysson commented on #373
@jpmateo022 By schema do you mean something like "public", "information_schema" or something like "create_table_if_not_exists" ?

[code]
This?

[2021-02-15 10:46] ghost opened #387 "Updating in bulk not working"
Updating a single record is working perfectly but incase of multiple records ORM is not working.

**Query Tried but not Working**
[code]
[code]

**Working Code**
[code]

Anything I missed here?

[2021-02-15 13:01] josephmancuso commented on #387
Can you be more specific on what the issue is? does it not update? Does it throw a query exception?

Also which database? which version of Masonite ORM?

I tested this and could not reproduce

[2021-02-15 19:50] josephmancuso opened #388 "Add `add_foreign` to the schema builder"
**Describe the feature as you'd like to see it**
We should have an `add_foreign` method on the schema builder. This should be a shortcut to the current way to add foreign keys. It should look like this:

[code]

The above would be the same as this:

[code]

[2021-02-16 03:30] ghost commented on #387
It does nothing neither issues nor warnings. And the database is also not updating. PostgreSQL, ORM Version: 1.0.21

[2021-02-16 03:43] josephmancuso commented on #387
Also cannot reproduce..

Do you have the attributes you are updating in the `__fillable__` property?

[2021-02-16 03:52] josephmancuso commented on #356
not sure what you mean? Like if someone needed to do deeper relations?

like

[code]

like that? If so I think that would be a great idea. Little harder to do though. Maybe just start off with supporting single relations ..

[2021-02-16 03:53] ghost commented on #387
Did you try reproducing as I have shown above? __fillable__ property is ok. I had to do the following to make it work.
[code]

[2021-02-16 04:00] josephmancuso commented on #387
Here Is my code I'm using to reproduce:

<img width="401" alt="Screen Shot 2021-02-15 at 10 59 13 PM" src="https://user-images.githubusercontent.com/20172538/108016843-73705b00-6fe1-11eb-9e8b-266aad3c6732.png">

Here is the query it generates:

[code]

Here is my database before:

<img width="440" alt="Screen Shot 2021-02-15 at 10 57 09 PM" src="https://user-images.githubusercontent.com/20172538/1

[2021-02-16 05:11] jpmateo022 commented on #373
yep something like that

[2021-02-16 05:13] josephmancuso commented on #231
#375

[2021-02-16 05:13] #231 closed, assigned to nobody

[2021-02-16 06:33] ghost commented on #387
Everything is working perfectly in yours. What is happing with mine? I will do some tests and will let you till then I will just close the issues because it's working in there.

[2021-02-16 06:33] #387 closed, assigned to nobody

[2021-02-16 18:52] resmo opened #390 "Model no attribute 'id' after creating"
**Describe the bug**

Storing a new model does not allow to access the `id` attribute. Accessing in code after `save()` results in a
`class model 'Category' has no attribute id`

[code]

**To Reproduce**

create a simple store function:

[code]

**Expected behavior**
What do you believe should be happening?
[code]

**Actual behavior**
[code]

**Screenshots or code snippets**
**What database are yo

[2021-02-16 20:18] holic-cl opened #391 "Polymorphic and many to many polymorphic relations"
**Describe the feature as you'd like to see it**
Add support to polymorphic and many to many polymorphic relations

**What do we currently have to do now?**
Give some kind of **morph_many**, **morph_to** and **morph_one** annotations to give polymorphic relations support

[2021-02-16 20:26] Marlysson commented on #390
@resmo Which python version are you using to come with this sqlite version?

[2021-02-16 20:37] josephmancuso commented on #390
@Marlysson that's a really good catch. That SQLite version is from 2005 ...

[2021-02-16 21:05] Marlysson commented on #390
@resmo, I'm trying reproduce that here and I've notice some litte problem.
You're just saving the entity, but the inserted result is forgotten, you need to assign the result of the `.save()` operation back to category variable.

[code]

With this you will be able to get the id of model.

[2021-02-16 21:49] resmo commented on #390
@Marlysson I confirm, assigning back to a var works.

However, this assignment is totally not usual for an ORM, especially not how orator works https://orator-orm.com/docs/0.9/orm.html#insert-update-and-delete

[2021-02-16 21:52] josephmancuso commented on #390
@Marlysson @resmo is correct, His code should be working as he is intending it to work. I think the issue is we are just missing a fill.

[code]

[2021-02-16 22:30] #390 closed, assigned to nobody

[2021-02-16 22:32] josephmancuso commented on #390
@resmo releasing 1.0.29 now to fix this. Thanks for the report!

[2021-02-22 13:02] josephmancuso opened #394 "On delete cascade not working"
**Describe the bug**
On delete cascade seems to not be inside the migration for PostgresSQL

**To Reproduce**
Steps to reproduce the behavior:
1. Create a migration with on_delete('cascade')
2. Run migration
3. SQL Should contain ON DELETE CASCADE but does not

**Screenshots or code snippets**
<img width="643" alt="Screen Shot 2021-02-22 at 6 34 24 PM" src="https://user-images.githubusercontent.co

[2021-02-22 23:52] josephmancuso commented on #394
Fixed in 1.0.30

[2021-02-22 23:53] #394 closed, assigned to nobody

[2021-02-23 19:27] resmo opened #395 "adding an unique constraint results in TypeError"
**Describe the bug**

An unique constraint results in a TypeError. The constraint looks like

`table.unique(['user_id', 'event_id'])`

in a schema:

[code]
Error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
What do you believe should be happening?

**Screenshots or code snippets**

**What database are you using?**
 - Type:  SQLite

[2021-02-25 00:18] #395 closed, assigned to nobody

[2021-02-25 00:23] josephmancuso commented on #395
@resmo fixed in version v1.0.31

[2021-02-27 21:40] wwood opened #397 "conda support"
Hi,

Looking to test out masonite but it'd be helpful if it was on conda, as orator is.
Thanks.

[2021-02-27 22:10] josephmancuso commented on #397
￼do you know how to do this? Is this something we can add to the GitHub action? Last time I used Conda it completely messed up my computers environments lol

[2021-02-28 02:09] circulon opened #398 "Query builder throwing error when chaining aggregates"
**Describe the bug**
I couldnt find a word to describe a group category for query commands like COUNT, AVG, MAX, MIN etc so please adjust the title as required

When using the query builder and multiple chained meta commands like .count, .max, .avg an invalid query is built.

**To Reproduce**
example
[code]
Generates
[code]

In this context table_a is a link table between a user table and other re

[2021-02-28 04:19] josephmancuso commented on #398
They are called "aggregates" lol. I'll work on this

[2021-02-28 04:23] circulon opened #399 "Query Builder cannot use multiple from_()"
**Describe the bug**
Using multiple table() or from_() only uses the last one defined

**To Reproduce**
[code]
Produces
[code]

**Expected behavior**
Expected query is:
[code]

**Desktop (please complete the following information):**
 - OS: Mac OSX
 - Version Catalina 10.15.7

**What database are you using?**
 - Type: Postgres
 - Version 10.7
 - Masonite ORM v1.0.31

[2021-02-28 04:27] josephmancuso commented on #399
Hmm.. How did i miss this requirement?? It's so obvious lol

[2021-02-28 05:47] #398 closed, assigned to nobody

[2021-02-28 05:55] #399 closed, assigned to nobody

[2021-02-28 06:01] josephmancuso commented on #399
This is fixed in version 1.0.32. I tried supporting the

[code]

syntax but that was too big of a change and I guess I sorta missed the boat on that one somehow ...

Anyway, the only way to do that now will be to use the new `from_raw` (or `table_raw` depending on whatever sounds more semantically right at the time).

So this would look something like this:

[code]

As a side note, I see you are u

[2021-02-28 06:02] josephmancuso commented on #398
Fixed in version 1.0.32

[2021-02-28 09:33] circulon commented on #399
@josephmancuso
Thanks for the fix, sorry to hear that its too big as it "reads" nicely in code but yeah the from_raw() will do just fine.

Thanks for investigating and Yes aliased field vaules help immensely when using the query response back into variables/structs of any type for later use.  aka super obvious whats going where and why.

Cheers for the continuous improments as well.

[2021-02-28 10:29] ghost opened #402 "where_has out of index issue"
**Describe the bug**
I tried to get the data from the members' table which has a relation with profile and the profile has a specific column to compare.

**To Reproduce**
1. Create Member Table
2. Create Profile Table
3. Relation (Member has_one Profile), profiles.member_id = member.id
4. Member.where_has('profile', q: q.where('some-profile-column', '12222')).get()

**Expected behavior**
The above

[2021-02-28 13:50] josephmancuso commented on #402
I think I fixed this. Can you upgrade to v1.0.33 and try again. I wasn't able to reproduce the exact error but I did find another issue that could have caused this.

[2021-02-28 13:50] josephmancuso commented on #402
If that doesn't work we can reopen this issue

[2021-02-28 13:50] #402 closed, assigned to nobody

[2021-02-28 22:31] wwood commented on #397
Hi Joseph,

I have no idea about GitHub actions I'm afraid. I'm quite surprised conda messed up your environments. I use miniconda and that is quite lightweight - just a folder in your home directory and a few lines in your bashrc.

However, I don't think an install of conda locally is required - you can just follow the instructions here - fork a repo then make a PR back with changes, then the aut

[2021-03-01 04:06] josephmancuso commented on #397
Ok thanks I’ll take a look. Hopefully I can just add it to the CI pipe to upload to conda

[2021-03-03 06:30] ghost commented on #106
Is this issue solved?

[2021-03-03 06:45] ghost opened #404 "Object of type date is not JSON serializable"
[code]

[code]

![image](https://user-images.githubusercontent.com/67942433/109764910-3bd9f380-7c1c-11eb-8fe2-1745a48a301b.png)

[2021-03-03 13:03] josephmancuso commented on #404
Do you have the `dob` inside the `__dates__` list on your model?

Should have something like this:

[code]

[2021-03-05 01:40] ninjrdevelop commented on #391
Subscribing to this, so I can migrate to MasoniteORM once it's available.

[2021-03-05 13:38] josephmancuso commented on #397
As an update, I am working on this. I made an anaconda account and added the build and upload as an action on the CI. So when i upload a release it will upload a build to Conda as well. I ran into some issues I think I can still work out but it did take over an hour just to attempt and upload of 1 package ...

[2021-03-06 00:53] circulon commented on #404
I had the exact same issue as @meyubaraj

After digging into the base Model and found the __dates__ as @josephmancuso notes, all my date columns are handled as expected.

This was not obvious to begin with though.
@josephmancuso  does this need noting in the documentation?

[2021-03-06 01:07] josephmancuso commented on #404
@circulon https://orm.masoniteproject.com/models#dates

[2021-03-06 01:07] #404 closed, assigned to nobody

[2021-03-06 01:08] josephmancuso commented on #404
@circulon is there a way I can make this more obvious in the docs? Maybe a different place for it?

[2021-03-06 01:38] circulon opened #406 "QueryBuilder: .to_sql() used before .get() produces unexpected results"
**Describe the bug**
Sometimes during debugging you want to see the query and the results generated by that query.

If you use .to_sql() before .get() you will get strange and incorrect results.
If you use .get() followed by .to_sql() you get the expected results.

This could cause major issues if .to_sql is used in this way in production systems.

**To Reproduce**

For this example assume table_a

[2021-03-06 02:40] josephmancuso commented on #397
Figured this out. Was a me issue ... Here you go:

<img width="987" alt="Screen Shot 2021-03-05 at 9 39 40 PM" src="https://user-images.githubusercontent.com/20172538/110192328-56b68e80-7dfb-11eb-9bd2-6c6d6916c667.png">

[code]

[2021-03-06 02:40] #397 closed, assigned to nobody

[2021-03-06 02:54] josephmancuso commented on #406
Good catch. I just fixed this in version 1.0.35. Depending on when you read this it might need a few minutes to propagate to PYPI

[2021-03-06 03:03] circulon commented on #406
Sweet!
This had me super confused for a good couple of hours, even to the point where I was considering destroying my entire dev stack!

Keep up the great work!

[2021-03-06 03:20] circulon commented on #406
@josephmancuso

Hmm I just pulled down v1.0.35 and the issue still remains?
FWIW I cant seem to find your PR for this issue either as I am interesting in seeing how things get fixed etc?

I cannot seem to reopen this issue either ;(

[2021-03-06 03:25] josephmancuso commented on #406
@circulon hmm thats weird. I was able to reproduce the issue and fix it. The issue (or what I believe the issue was) is that `to_sql()` will "reset" the query builder. This is mainly used so you can use the same query builder to run multiple queries even after you built it up. This was probably incorrectly on the to_sql() query.

So what was happening was you were:

1. building up the query
2. run

[2021-03-06 03:26] josephmancuso commented on #406
The fix i did directly on the 1.0 branch as it was a one liner

https://github.com/MasoniteFramework/orm/commit/7645dee08596d555933f661cdd08203f652d37e9

[2021-03-06 03:52] circulon commented on #406
@josephmancuso

Looks like this is partially fixed.

 i'm using .count() in the main query and inside a .add_select() for between dates.
The main queyy .count looks ok.  The results from the subselecta are still weird.

the generated query works exactly as expecetd when I pastte it into my db util.
When I run it in my app with the .to_sql() first I get an erroneous count value.

What you said make

[2021-03-06 04:12] josephmancuso commented on #406
Thanks. I can take a look at this. It helps. There's 1 more query builder that gets built inside the grammar class that's used to compile that inner query. That will be the next place I look

[2021-03-06 06:00] wwood commented on #397
excellent. Thanks.

[2021-03-06 07:26] circulon opened #407 "Question: how to use .between() for date interval?"
This is a general "how to" question

I was looking to use .between()  for a date interval eg low: today - 7 days,   high: date today.
Currently I'm using postgres so the where_raw looks like this
[code]
which is very grammar specific.
is there a more db agnostic way to do this?

Happy to discuss
Thanks

[2021-03-06 14:58] josephmancuso commented on #407
Can't you just use the between and pass 2 dates? Masonite ORM installs with pendulum so it would look something like:

[code]

[2021-03-06 21:06] #407 closed, assigned to nobody

[2021-03-06 21:28] #406 closed, assigned to nobody

[2021-03-06 21:31] josephmancuso commented on #406
@circulon Ok this is also fixed for sub select and sub queries now. Sorry if this caused issues for you but it was a pretty simple fix.

[2021-03-07 00:02] circulon commented on #406
@josephmancuso

No worries. thanks for being responsive.

[2021-03-07 00:19] Marlysson commented on #407
@josephmancuso There some method to simulate dates greater or lower than some point?

[2021-03-07 00:20] josephmancuso commented on #407
@Marlysson what do you mean? for pendulum?

[2021-03-07 00:21] josephmancuso commented on #407
https://pendulum.eustace.io/docs/#difference

[2021-03-07 00:25] Marlysson commented on #407
No, in database level. Like this https://docs.djangoproject.com/en/3.1/ref/models/querysets/#year

[2021-03-07 00:28] josephmancuso commented on #407
@Marlysson

[code]

[2021-03-07 00:40] circulon commented on #407
Let me clarify

Consider this scenario:
A server is running a db engine in Sydney
The timezone for the server was never changed so its AEDT.
The database timezone is set for UTC to force a standard.
All Date columns are DateTime's ie include timezone data.

Another server runs the webserver is the US for example.

Won't generating a pendulum date on the webserver be transformed into an incorrect d

[2021-03-07 00:46] josephmancuso commented on #407
I think so? date standardization is even more a PITA when you're trying to understand someone else PITA problem 😆

If all dates are in UTC then there should be no issues right?

If the db engine in Sydney has dates stored as UTC then it doesn't matter which dates you check against as long as all dates are in UTC you are checking against.

Its been a long day and I'm tired so my brain is shot as we

[2021-03-07 00:49] circulon commented on #407
@josephmancuso

Thanks for the reply.
I will have to do some testing but yeah generating the pendulum dates in utc could work nicely.

Get some rest and keep up the great work
Thanks again

[2021-03-07 00:50] josephmancuso commented on #407
👍 ❤️

[2021-03-08 04:18] jpmateo022 opened #410 "unwanted log value [datetime] False"
![image](https://user-images.githubusercontent.com/26633918/110273750-36a7ea80-8008-11eb-88b2-67dc9988f139.png)

Its currently being printed to M3 DB Queue. and also logged in my supervisor logs.

[2021-03-08 14:51] tpow opened #411 "Missing take?"
In Orator ORM you can use code like this:

```logins = user.logins().skip(10).take(5).get()```

It looks like take is missing in masoniteorm or at least doesn't work the same way. Take is equivalent to limit in Orator. I wasn't sure if this was an intentional omission, oversight, or change in masoniteorm. Take is somewhat nicer to read in some contexts, so it would be nice to have.

When I try wha

[2021-03-08 19:48] tpow opened #412 "Exception when belongs_to used without arguments"
**Describe the bug**
The belongs_to decorator can be used with or without the foreign and local keys. When used without and the relationship is not eager loaded, it causes an exception "KeyError: None"

**To Reproduce**
Create a Person model:
[code]

Create a migration:
[code]

Save a person record associated with one of the user records (such as 1)
[code]

Now try to use it with craft tinker:
[co

[2021-03-09 00:41] tpow commented on #412
A similar problem appears when using joins. For example, ```Person.joins("user").where("users.email",  "joe@example.com").first()```

This creates incorrect SQL like ```SELECT * FROM `people` INNER JOIN `users` ON `people`.`None` = `users`.`None` WHERE `users.email` = %s LIMIT 1``` (It does not find the correct local and foreign keys and instead includes None.)

[2021-03-09 23:09] josephmancuso commented on #410
@jpmateo022 Can you help me spot this by telling me which versions you are running?

[2021-03-09 23:09] josephmancuso commented on #410
and making sure you are running the latest versions

[2021-03-10 00:56] #411 closed, assigned to nobody

[2021-03-10 00:56] #412 closed, assigned to nobody

[2021-03-10 01:07] josephmancuso commented on #412
This is fixed but you just have to be careful because I tried to copy your exact usecase for manual testing but the code you wrote is not necessarily correct.

For example:

[code]

The correct key order here would be

[code]

as the key order is `local_key, other_key`. You have them flipped.

The other thing is in your test you do this:

[code]

This is wrong. You are adding a first() at the end

[2021-03-10 01:47] jpmateo022 commented on #410
Yes Im using the latest masonite-orm when I encountered the bug then I downgrade to 1.0.28 it went away.

[2021-03-10 21:05] tpow commented on #412
Thanks for the note about the find/first behavior and the key order. I was a little too quick in hacking together code to demonstrate the problem and was creating it based on code that was a bit different. Sorry that some parts of it were misleading. I appreciate the quick fixes!

[2021-03-11 16:35] jpmateo022 commented on #410
I'm getting this on 1.0.38 (which is the latest version)

![image](https://user-images.githubusercontent.com/26633918/110821032-a51bcf80-82ca-11eb-9050-769f0f6bb837.png)

But When I switched to 1.0.28 it's not happening
![image](https://user-images.githubusercontent.com/26633918/110821200-d0062380-82ca-11eb-8afc-d748992c2882.png)

[2021-03-12 01:54] josephmancuso commented on #410
Thanks. This is fixed in 1.0.40

[2021-03-12 01:54] #410 closed, assigned to nobody

[2021-03-12 02:46] josephmancuso opened #416 "Add support for specifying better where clauses when doing a join"
I'm trying to inner join a Holiday table to a HolidayDate table, then get all rows that are on dates within the array 'datesOfWeek'.

The 'Date' column is in the HolidayDate table and the 'Deleted' and 'HolidayName' column are in the Holiday table. Also the Holiday model has a has_many relationship to the HolidayDate table defined using: @has_many('IDHoliday', 'HolidayID').

Here's a bit of the co

[2021-03-12 03:14] josephmancuso commented on #416
Firstly, the code snippets in the description that example Orator actually should not be correct. The where clauses at the end should be based on the holiday table since it's being built on the holiday model.

My solution here is to do a few things.

## Solution 1

Existing solution would be to have a where clause:

[code]

This should work fine but its not perfect. One of the issues here is that

[2021-03-12 03:18] #416 closed, assigned to nobody

[2021-03-13 14:23] marcelovieirahonorio opened #418 "Doc: Migration from 2.3 to 3.0 (queue_table)"
Hi,

   In the doc about migration (https://docs.masoniteproject.com/upgrade-guide/masonite-2.3-to-3.0), I think that in 'Queue Table section', about the queue_table command, would be ".table", not ".create".
   When I changed to ".table", worked to me.

![masonite-orm-migration_doc](https://user-images.githubusercontent.com/56178491/111033081-43548600-83ee-11eb-8858-46ef5ead2195.jpeg)

Thank you.

[2021-03-15 13:30] marcelovieirahonorio opened #419 "How to use **JSON** fields with **masonite-orm** ?"
**Describe the bug**
Please, how to use a JSON fields with masonite-orm?
In __orator__, I had use a __dict__ to assign a value to JSON field but, this not work in masonite-orm and don't find in documentation what is the correct way.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a JSON field in database with migration (PostgreSQL)
2. Create a Model and set the __cast__ to field (in o

[2021-03-16 19:10] Marlysson commented on #418
@marcelovieirahonorio
But was the "queue_table" already created? Cause ".table" will use some table created and ".create" will create on the fly in migration.

[2021-03-16 19:39] marcelovieirahonorio commented on #418
@Marlysson ,
Yes. How the doc talk about upgrade from 2.3 to 3.0, I think everyone will have the table created, in this case, could be ".table" to add new fields.

And, if don't have, the migration doc needs add the other fields to table, not only the 3 fields created in 3.0, for example, __id__ , ... , .....

[2021-03-17 00:26] josephmancuso commented on #419
Found the issue. Issue was that the model was not casting the attribute before sending it to the connection class.

Will push a release in a bit

[2021-03-17 00:31] josephmancuso commented on #418
this is fixed. Great spot

[2021-03-17 00:31] #418 closed, assigned to nobody

[2021-03-17 15:46] marcelovieirahonorio opened #420 "Different type of return: The Model Query return a object and the Query Builder return a list (orator -> masonite-orm)"
**Describe the bug**
With orator, I could write a query with Model Query ou Query Builder (DB.table) and the return is a object. With this, I could pass this return to only a function and the process is the same, independent of who call the function.
With masonite-orm, when I write a query with Model Query, I get a collection of objects, but, when I write a query with Query Builder, I get a list.

[2021-03-19 10:25] marcelovieirahonorio commented on #419
Thank you, I will test it when published in the pypi :)

[2021-03-23 11:57] jrouffiac opened #422 "Allow other database objects to have their name explicitly specified (eg indexes, foreign keys)"
**Describe the feature as you'd like to see it**
Currently, Masonite ORM generates database object names by appending some hard coded values when generating the DDL from the migrations.  I need to follow a different pattern to comply with client-specified database naming norms.

For example,
`table.string("email").unique()` on the `users` table definition leads to a unique index with the database

[2021-03-23 18:41] #419 closed, assigned to nobody

[2021-03-24 03:06] #422 closed, assigned to nobody

[2021-03-24 03:21] josephmancuso commented on #422
This is done in v1.0.42

[2021-03-24 03:21] josephmancuso commented on #419
@marcelovieirahonorio this is done and on version 1.0.42

[2021-03-24 09:29] jrouffiac commented on #422
Ho @josephmancuso .  Firstly, thanks for doing that so quickly! :)

I've found an issue:

If I use method chaining on the field as it is being created, the `index()` method expects the `column` param:

[code]
Gives:
[code]

If I add the name of the column, it works. But as we are already operating on the column, it should know from context.

[2021-03-24 09:34] jrouffiac commented on #422
Update: `foreign()` and `fulltext()` are  also affected but `unique()` seems to work fine as its `column` param is optional.

If I create the index or foreign key constraint as a separate statements, these work fine.

Shall i raise a bug report?

[2021-03-24 11:59] josephmancuso commented on #422
sure

[2021-03-24 12:22] josephmancuso commented on #422
@SparrowhawkMMU technically this isn't a bug as it wasn't a feature. I think Orator supported this though for indexes.

[2021-03-24 17:51] jrouffiac opened #424 "Make column name optional when specifying index/foreign/fulltext inline"
This is a follow on to #422

If I use method chaining on the field as it is being created, the index() method expects the column param:

`table.integer(column="user_id").unsigned().index(name='ix_profiles_user_id')`

Gives:
[code]

This may be confusing and although
`table.integer(column="user_id").unsigned().index(column='user_id', name='ix_profiles_user_id')`
works, I think it is a little clunky

[2021-03-24 22:06] #424 closed, assigned to nobody

[2021-03-24 22:15] josephmancuso commented on #420
I'm not sure how we can accomplish this without any breaking changes. One way to do this if you realy want to use the query builder is to pass the model in the query builder like this:

[code]

This is how the model and query builder work together under the hood. The model just passes itself to the query builder

[2021-03-26 02:03] josephmancuso commented on #420
Another way to do this as well is instead of trying to always the query builder and the model as an attribute on an object, just get both as a dictionary.

This works:

[code]

[2021-03-26 02:03] #420 closed, assigned to nobody

[2021-03-26 03:14] #352 closed, assigned to nobody

[2021-03-26 15:43] alfonsocv12 opened #427 "Create model and migration on the same command"
**Describe the feature as you'd like to see it**

On the orator orm, I was used to create my model and migration add the same time with this command

`orator make:model Foo -m`

**What do we currently have to do now?**
You have to use 2 commands like this

`masonite-orm model Foo`
`masonite-orm migration Foo --create`

**Additional context**

I believe the best way to implement this is defaulting

[2021-03-26 16:11] josephmancuso commented on #427
Something to keep in mind as well is that some people have migrations in a different directory. Especially when not using Masonite so we will have to pass the `-d` flag off as well to the migration command

[2021-03-27 02:20] circulon opened #428 "Update UUID column tries to set 'None' as UUID when field empty"
**Describe the bug**
Updating a model using .fill() with a dict of attributes.
Some of the attributes are empty (None)
when doing a .save() an exception is raised like this

masoniteorm.exceptions.QueryException: can't adapt type 'UUID'

Dumping the query for the .save(query=True) shows a query similar to this
UPDATE "some_table" SET "an_id" = 'd4850433-d15f-4959-8955-3410dfd0bda5', "another_id" =

[2021-03-27 05:36] #428 closed, assigned to nobody

[2021-03-27 05:38] circulon commented on #428
Sorry this was an erroneous error caused by trying to update the primary key 'id' of a model after a successful find.

[2021-03-27 22:07] Marlysson commented on #427
But how we can distinguish -d of models directory from -d of migrations directory? Renaming it maybe?

[2021-04-01 13:24] b4oshany opened #430 "How do I create a composite primary key?"
**Describe the bug**
Unable to create a composite key.

**To Reproduce**
I tried:
[code]

[2021-04-01 13:38] b4oshany opened #429 "Cannot execute raw query"
**Describe the bug**
I tried to execute a raw query.

**To Reproduce**
Steps to reproduce the behavior:
[code]

error:
[code]

[2021-04-01 13:54] girardinsamuel commented on #429
Here you should ge the query builder class with correct connection details as mentioned in the docs here
https://orm.masoniteproject.com/query-builder#getting-the-querybuilder-class
Then you can use `statement()` method on a "connected" query builder instance (https://orm.masoniteproject.com/query-builder#raw-queries):

In your case it should work like this:
[code]

[2021-04-02 00:07] josephmancuso commented on #429
This is actually a code issue. You can see in the stack trace it is calling `self.get_query_builder().on(connection).raw(query, bindings)` when it should be calling `self.get_query_builder().on(connection).statement(query, bindings)`

[2021-04-02 00:07] josephmancuso commented on #429
Moving this to the ORM repo

[2021-04-02 00:08] josephmancuso commented on #430
Moving this also to ORM repo

[2021-04-02 00:11] josephmancuso commented on #430
@b4oshany I think this is a great idea. This is currently not supported but certainly can be.

Before we work on this though, can you tell me a bit more? How would a find() work for example,

In other words, if you had something like:

[code]

How would you get the second row here?

[code]
?

In other words, how would you match on the uniqueness of the primary key?

[2021-04-02 00:13] josephmancuso commented on #430
In short term we can certainly make it possible on the schema level but not sure how we could do this at the model or query builder level

[2021-04-02 00:24] #429 closed, assigned to nobody

[2021-04-02 02:29] #388 closed, assigned to nobody

[2021-04-02 03:00] #430 closed, assigned to nobody

[2021-04-02 12:16] josephmancuso commented on #430
@b4oshany This is now possible in the latest version of Masonite ORM at the schema level. This is still not really possible at the model level but I'm not sure how we'd do that.

You do it just like this:

[code]

[2021-04-04 01:47] Marlysson opened #434 "Ability to run seeders in refresh migrations"
**Describe the feature as you'd like to see it**
Some way to run seeders in same command of migrate:refresh.

Run all seeders
[code]

Run specific seeder
[code]

Related tasks:
- [ ] Update documentation

**What do we currently have to do now?**
Call seeder command inside refresh migration command

- [ ] Is this a breaking change?

[2021-04-05 02:35] circulon opened #436 "Question: QueryBuilder how to join on id columns and a column with arbitrary value?"
**Describe the feature as you'd like to see it**
I have a requirement that a join be done on a foreign key and the value of another column.

example query:
[code]
This will produce rows where only the groupx_name columns are filled when the join for that item is fully realised
example results
|    item_id	                                                      | item_group  |    group1_name   |    g

[2021-04-05 19:36] alanaphayarath opened #437 "Adding or_where() passthrough on Models"
**Describe the feature as you'd like to see it**
Was wondering if the QueryBuilder `or_where` method could be added as a passthrough for Models. I was using it with Orator ORM, but it's no longer working with MasoniteORM.

**What do we currently have to do now?**
I believe adding `or_where` to the passthrough list that start at line 116 of the file at src/masoniteorm/models/Model.py should resolve

[2021-04-08 20:33] girardinsamuel commented on #434
Maybe it would be cleaner/easier to do ? What do you think ?
Run all seeders
[code]

Run specific seeder
[code]

[2021-04-08 21:22] Marlysson commented on #434
@girardinsamuel Sure. I'll update the PR.

[2021-04-11 20:27] #437 closed, assigned to nobody

[2021-04-11 21:57] rodrigopv opened #440 "LONGBLOB datatype is not supported on PostgreSQL"
**Describe the bug**
I'm re-creating an existing PostgreSQL database for my open-source project. I need to store small files, for which postgres uses the `bytea` data type. When looking into docs, the closes one we have is Binary, but it seems to try using a non-existent datatype for postgres when looking into the SQL output of `masonite-orm migrate -s`.

**To Reproduce**
Steps to reproduce the be

[2021-04-11 22:44] rodrigopv opened #442 "PostgreSQL inet,cidr and macaddr data type"
**Describe the feature as you'd like to see it**
Would be nice to be able to store IP addresses in inet data type

**What do we currently have to do now?**
There's no way to manipulate IP addresses or IP networks in Masonite-ORM.

**Additional context**
ActiveRecord from Rails has 2 approaches when using `inet` and other networking-related data types:

1. map to existing ruby objects when availabl

[2021-04-12 01:59] #440 closed, assigned to nobody

[2021-04-12 18:52] marcelovieirahonorio commented on #419
@josephmancuso , I tried from different forms, but, doesn't work :( :

with __cast__ to JSON:
![image](https://user-images.githubusercontent.com/56178491/114445463-7da87300-9ba6-11eb-8f1f-bcb207053037.png)

with __cast__ to DICT:
![image](https://user-images.githubusercontent.com/56178491/114445601-a6306d00-9ba6-11eb-87e2-3f639c68c3aa.png)

without __cast__:
![image](https://user-images.githubuser

[2021-04-12 19:04] marcelovieirahonorio commented on #420
@josephmancuso , I made some tests and adaptations on my code... I think with this way, worked with a minimum impact. Thank you!!!

[2021-04-12 19:49] marcelovieirahonorio commented on #419
@josephmancuso , I made a change on Model.py, that works.

Could this be an alternative?

``
class JsonCast:
    """Casts a value to JSON"""

    def get(self, value):
        if isinstance(value, dict): # dict check
            return value            # return without json.loads

        return json.loads(value)

    def set(self, value):
        return json.dumps(value)
``

![image](https://user

[2021-04-12 21:11] josephmancuso commented on #442
@rodrigopv What does your second bullet point need to do? Can this be does via a cast? I'm not too familiar with IP address data types and Postgres.

How does a raw query solve the issue now?

[2021-04-12 21:17] josephmancuso commented on #436
Theres not really a simple way to do this with a query builder directly. Using models is a little easier as you can just do:

[code]

This does a little bit of Kung Fu under the hood though. I can see how much easier it would be to do this without models and directly with the query builder.

Maybe an interface like:

[code]

Would something like that work?

[2021-04-12 21:20] #442 closed, assigned to nobody

[2021-04-12 21:21] josephmancuso commented on #442
This is closed but if we need that second checkbox I will reopen this

[2021-04-12 22:27] rodrigopv opened #445 "Missing drop_primary function"
**Describe the bug**
When trying to creating a migration that needs to remove a primary key, according to docs `table.drop_primary` should do this work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create migration to update table
2. Add line to remove primary key `table.drop_primary('users_id_primary')`
3. Expect migration to fail with `'Blueprint' object has no attribute 'drop_primary'`

[2021-04-12 22:28] rodrigopv commented on #445
Maybe one way to fix this is to backport this implementation from orator, but something makes me think that maybe it was intentional to left this out.

[2021-04-15 09:22] girardinsamuel opened #446 "Add `push()` method to save relationships at once"
**Describe the feature as you'd like to see it**
If I would like to save a model and all of its associated relationships, I need to do multiple `save()`, the `push()` method could avoid doing this as in Laravel.
https://laravel.com/docs/8.x/eloquent-relationships#the-push-method

[2021-04-16 10:09] circulon commented on #436
@josephmancuso
Sorry for the Delay in getting back on this.

Yeah the lambda option is good and it helps encapsulate the additional column criteria.
Though this does feel intuitive/obvious  IMHO.
Just a thought but how would you do this with 2 or more columns of arbitrary values?

Another option where the lambda parameter is instead have an optional  list of tuples
the list of tuples would encapsu

[2021-04-18 22:17] egwald opened #447 "For Postgres: 'QueryBuilder' object has no attribute 'where_between'"
For Postgres: 'QueryBuilder' object has no attribute 'where_between':

`    def get_pg_data_date(self, tabelle, startDate, endDate):

        builder = QueryBuilder().table(tabelle)
        results = builder.table(tabelle).where_between('timestamp', startDate, endDate).get()
        return results
`

[2021-04-21 07:39] circulon commented on #447
A similar issue is discussed (and solved) here https://github.com/MasoniteFramework/orm/issues/407

[2021-04-21 20:12] Marlysson commented on #447
This PR #50
And the issue #49

Talk about it too.

[2021-04-21 20:13] josephmancuso commented on #447
The solution here could be to just alias the between method with a new where_between method

[2021-04-22 23:29] Marlysson commented on #447
@josephmancuso The feature of between/not between is working in tests ( testing against generated sql is fine ) but when calling by QueryBuilder or Model it fails.

I suspect that **q_mark()** method isn't marking sql to fill with bindings. I'm seeing this, but is odd..

In QueryBuilder when in .get() method is changed to the following snippet works:

[code]

Just in couterpart a bunch of tests fa

[2021-04-23 00:01] josephmancuso commented on #447
I don't understand? There should be no where_between method. The correct method is called between.

builder.between()

[2021-04-23 00:04] Marlysson commented on #447
You're right. The builder.between() in tests are working because it are tested against in sql grammar, but then it is ran using some database it fail.

[2021-04-24 01:02] liquidgenius opened #448 "Add Mixin Documentation"
**Describe the feature as you'd like to see it**
It appears documentation for Mixins under masoniteorm.scope is not yet written. Add best practice commonly used Mixins to documentation. Orator Orm provides a great example on this. [https://orator-orm.com/docs/0.9/orm.html#soft-deleting](https://orator-orm.com/docs/0.9/orm.html#soft-deleting)

**What do we currently have to do now?**
Confirm a best

[2021-04-24 01:14] liquidgenius commented on #448
Obviously, the model would need to be much simpler for the example. I will need help so as to insure the example fits with other examples in the docs.

[2021-04-24 03:03] liquidgenius commented on #448
Apparently, I missed this section on Soft Deleting https://orm.masoniteproject.com/models#soft-deleting

[2021-04-24 03:04] #448 closed, assigned to nobody

[2021-04-24 08:57] girardinsamuel commented on #391
Just to update the state of this issue, for now Masonite ORM:
- supports **One to Many** polymorphic relationships even if not documented yet.
- does not support **Many to Many** polymorphic relationships (not implemented yet).

[2021-04-27 01:16] #434 closed, assigned to nobody

[2021-05-01 04:41] circulon commented on #436
Bump @josephmancuso

[2021-05-03 15:07] josephmancuso opened #450 "Build a way to use subqueries for joins"
**Describe the feature as you'd like to see it**
Need a way to build a query like this:

[code]

**What do we currently have to do now?**
I don't believe we have a way to pass a builder to a join to create a subquery

**Additional context**
Found this query on Stack overflow and would like a way to do this via the query builder, if possible.

Open for discussion

- [ ] Is this a breaking change?